# Zillow Clustering Project Data Acquisition Notebook

In [1]:
# imports
import pandas as pd
import numpy as np
import acquire
import warnings
warnings.filterwarnings('ignore')

In [2]:
# connect to database, perform SQL query, write to csv, and convert to pandas DataFrame
df = acquire.get_zillow_cluster()

In [4]:
# what do we have to start with?
acquire.summarize(df)

----------------------------------------------------
DataFrame Head
   heatingorsystemtypeid  buildingclasstypeid  architecturalstyletypeid  \
0                    NaN                  NaN                       NaN
1                    NaN                  NaN                       NaN
2                    NaN                  NaN                       NaN

   airconditioningtypeid  parcelid  typeconstructiontypeid  storytypeid  \
0                    NaN  14297519                     NaN          NaN
1                    NaN  17052889                     NaN          NaN
2                    NaN  14186244                     NaN          NaN

   propertylandusetypeid       id  basementsqft  ...  censustractandblock  \
0                  261.0  1727539           NaN  ...         6.059063e+13
1                  261.0  1387261           NaN  ...         6.111001e+13
2                  261.0    11677           NaN  ...         6.059022e+13

   logerror  transactiondate        propertylandusedesc  storydesc  \
0  0.025595       2017-01-01  Single Family Residential        NaN
1  0.055619       2017-01-01  Single Family Residential        NaN
2  0.005383       2017-01-01  Single Family Residential        NaN

   typeconstructiondesc  airconditioningdesc  architecturalstyledesc  \
0                   NaN                  NaN                     NaN
1                   NaN                  NaN                     NaN
2                   NaN                  NaN                     NaN

   buildingclassdesc  heatingorsystemdesc
0                NaN                  NaN
1                NaN                  NaN
2                NaN                  NaN

[3 rows x 68 columns]
----------------------------------------------------
DataFrame Info
<class 'pandas.core.frame.DataFrame'>
Int64Index: 77574 entries, 0 to 77573
Data columns (total 68 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   heatingorsystemtypeid         49569 non-null  float64
 1   buildingclasstypeid           15 non-null     float64
 2   architecturalstyletypeid      206 non-null    float64
 3   airconditioningtypeid         25006 non-null  float64
 4   parcelid                      77574 non-null  int64
 5   typeconstructiontypeid        222 non-null    float64
 6   storytypeid                   50 non-null     float64
 7   propertylandusetypeid         77574 non-null  float64
 8   id                            77574 non-null  int64
 9   basementsqft                  50 non-null     float64
 10  bathroomcnt                   77574 non-null  float64
 11  bedroomcnt                    77574 non-null  float64
 12  buildingqualitytypeid         49808 non-null  float64
 13  calculatedbathnbr             76959 non-null  float64
 14  decktypeid                    614 non-null    float64
 15  finishedfloor1squarefeet      6035 non-null   float64
 16  calculatedfinishedsquarefeet  77374 non-null  float64
 17  finishedsquarefeet12          73919 non-null  float64
 18  finishedsquarefeet13          42 non-null     float64
 19  finishedsquarefeet15          3027 non-null   float64
 20  finishedsquarefeet50          6035 non-null   float64
 21  finishedsquarefeet6           386 non-null    float64
 22  fips                          77574 non-null  float64
 23  fireplacecnt                  8287 non-null   float64
 24  fullbathcnt                   76959 non-null  float64
 25  garagecarcnt                  25517 non-null  float64
 26  garagetotalsqft               25517 non-null  float64
 27  hashottuborspa                1539 non-null   float64
 28  latitude                      77574 non-null  float64
 29  longitude                     77574 non-null  float64
 30  lotsizesquarefeet             69317 non-null  float64
 31  poolcnt                       16173 non-null  float64
 32  poolsizesum                   869 non-null    float64
 33  pooltypeid10                  465 non-null    float64
 34  pooltypeid2                   1074 non-null   float64
 35  pooltypeid7                   15078 non-null  float64
 36  propertycountylandusecode     77574 non-null  object
 37  propertyzoningdesc            50474 non-null  object
 38  rawcensustractandblock        77574 non-null  float64
 39  regionidcity                  76102 non-null  float64
 40  regionidcounty                77574 non-null  float64
 41  regionidneighborhood          30973 non-null  float64
 42  regionidzip                   77524 non-null  float64
 43  roomcnt                       77574 non-null  float64
 44  threequarterbathnbr           10105 non-null  float64
 45  unitcnt                       50702 non-null  float64
 46  yardbuildingsqft17            2393 non-null   float64
 47  yardbuildingsqft26            70 non-null     float64
 48  yearbuilt                     77305 non-null  float64
 49  numberofstories               17596 non-null  float64
 50  fireplaceflag                 172 non-null    float64
 51  structuretaxvaluedollarcnt    77459 non-null  float64
 52  taxvaluedollarcnt             77573 non-null  float64
 53  assessmentyear                77574 non-null  float64
 54  landtaxvaluedollarcnt         77572 non-null  float64
 55  taxamount                     77569 non-null  float64
 56  taxdelinquencyflag            2900 non-null   object
 57  taxdelinquencyyear            2900 non-null   float64
 58  censustractandblock           77327 non-null  float64
 59  logerror                      77574 non-null  float64
 60  transactiondate               77574 non-null  object
 61  propertylandusedesc           77574 non-null  object
 62  storydesc                     50 non-null     object
 63  typeconstructiondesc          222 non-null    object
 64  airconditioningdesc           25006 non-null  object
 65  architecturalstyledesc        206 non-null    object
 66  buildingclassdesc             15 non-null     object
 67  heatingorsystemdesc           49569 non-null  object
dtypes: float64(55), int64(2), object(11)
memory usage: 40.8+ MB
None
----------------------------------------------------
DataFrame Description
       heatingorsystemtypeid  buildingclasstypeid  architecturalstyletypeid  \
count           49569.000000            15.000000                206.000000
mean                3.921645             3.933333                  7.388350
std                 3.594814             0.258199                  2.734542
min                 1.000000             3.000000                  2.000000
25%                 2.000000             4.000000                  7.000000
50%                 2.000000             4.000000                  7.000000
75%                 7.000000             4.000000                  7.000000
max                24.000000             4.000000                 21.000000

       airconditioningtypeid      parcelid  typeconstructiontypeid  \
count           25006.000000  7.757400e+04              222.000000
mean                1.812045  1.300630e+07                6.040541
std                 2.965823  3.478043e+06                0.557285
min                 1.000000  1.071186e+07                4.000000
25%                 1.000000  1.153819e+07                6.000000
50%                 1.000000  1.253050e+07                6.000000
75%                 1.000000  1.421124e+07                6.000000
max                13.000000  1.676893e+08               13.000000

       storytypeid  propertylandusetypeid            id  basementsqft  ...  \
count         50.0           77574.000000  7.757400e+04     50.000000  ...
mean           7.0             261.824477  1.495340e+06    679.720000  ...
std            0.0               5.141733  8.609689e+05    689.703546  ...
min            7.0              31.000000  3.490000e+02     38.000000  ...
25%            7.0             261.000000  7.520875e+05    273.000000  ...
50%            7.0             261.000000  1.498169e+06    515.000000  ...
75%            7.0             266.000000  2.240588e+06    796.500000  ...
max            7.0             275.000000  2.982274e+06   3560.000000  ...

       numberofstories  fireplaceflag  structuretaxvaluedollarcnt  \
count     17596.000000          172.0                7.745900e+04
mean          1.434246            1.0                1.892829e+05
std           0.544518            0.0                2.304149e+05
min           1.000000            1.0                4.400000e+01
25%           1.000000            1.0                8.418200e+04
50%           1.000000            1.0                1.364070e+05
75%           2.000000            1.0                2.187340e+05
max           6.000000            1.0                1.142179e+07

       taxvaluedollarcnt  assessmentyear  landtaxvaluedollarcnt  \
count       7.757300e+04         77574.0           7.757200e+04
mean        4.901477e+05          2016.0           3.011468e+05
std         6.538059e+05             0.0           4.927317e+05
min         1.000000e+03          2016.0           1.610000e+02
25%         2.068980e+05          2016.0           8.529200e+04
50%         3.588790e+05          2016.0           2.031810e+05
75%         5.690000e+05          2016.0           3.667610e+05
max         4.906124e+07          2016.0           4.895220e+07

           taxamount  taxdelinquencyyear  censustractandblock      logerror
count   77569.000000         2900.000000         7.732700e+04  77574.000000
mean     5995.855691           14.088276         6.049666e+13      0.016805
std      7628.912331            2.181281         1.533386e+12      0.170742
min        19.920000            3.000000         6.037101e+13     -4.655420
25%      2712.610000           14.000000         6.037311e+13     -0.024310
50%      4448.300000           15.000000         6.037603e+13      0.006673
75%      6926.820000           15.000000         6.059042e+13      0.039292
max    586639.300000           99.000000         4.830301e+14      5.262999

[8 rows x 57 columns]
----------------------------------------------------
DataFrame Value Counts:
(0.976, 3.3]    33646
(3.3, 5.6]          0
(5.6, 7.9]      14882
(7.9, 10.2]         3
(10.2, 12.5]        1
(12.5, 14.8]       60
(14.8, 17.1]        0
(17.1, 19.4]       23
(19.4, 21.7]      104
(21.7, 24.0]      850
Name: heatingorsystemtypeid, dtype: int64
--------------------------------------------

(2.998, 3.1]     1
(3.1, 3.2]       0
(3.2, 3.3]       0
(3.3, 3.4]       0
(3.4, 3.5]       0
(3.5, 3.6]       0
(3.6, 3.7]       0
(3.7, 3.8]       0
(3.8, 3.9]       0
(3.9, 4.0]      14
Name: buildingclasstypeid, dtype: int64
--------------------------------------------

(1.9800000000000002, 3.9]      8
(3.9, 5.8]                     0
(5.8, 7.7]                   172
(7.7, 9.6]                    19
(9.6, 11.5]                    0
(11.5, 13.4]                   0
(13.4, 15.3]                   0
(15.3, 17.2]                   0
(17.2, 19.1]                   0
(19.1, 21.0]                   7
Name: architecturalstyletypeid, dtype: int64
--------------------------------------------

(0.987, 2.2]    23185
(2.2, 3.4]          0
(3.4, 4.6]          0
(4.6, 5.8]        167
(5.8, 7.0]          0
(7.0, 8.2]          0
(8.2, 9.4]         26
(9.4, 10.6]         0
(10.6, 11.8]       53
(11.8, 13.0]     1575
Name: airconditioningtypeid, dtype: int64
--------------------------------------------

(10554877.537, 26409601.2]    77543
(26409601.2, 42107347.4]          0
(42107347.4, 57805093.6]          0
(57805093.6, 73502839.8]          0
(73502839.8, 89200586.0]          1
(89200586.0, 104898332.2]         1
(104898332.2, 120596078.4]        0
(120596078.4, 136293824.6]        0
(136293824.6, 151991570.8]        0
(151991570.8, 167689317.0]       29
Name: parcelid, dtype: int64
--------------------------------------------

(3.99, 4.9]       1
(4.9, 5.8]        0
(5.8, 6.7]      219
(6.7, 7.6]        0
(7.6, 8.5]        0
(8.5, 9.4]        0
(9.4, 10.3]       1
(10.3, 11.2]      0
(11.2, 12.1]      0
(12.1, 13.0]      1
Name: typeconstructiontypeid, dtype: int64
--------------------------------------------

(6.992, 6.994]     0
(6.994, 6.996]     0
(6.996, 6.997]     0
(6.997, 6.999]     0
(6.999, 7.0]      50
(7.0, 7.001]       0
(7.001, 7.003]     0
(7.003, 7.004]     0
(7.004, 7.006]     0
(7.006, 7.007]     0
Name: storytypeid, dtype: int64
--------------------------------------------

(30.755, 55.4]       15
(55.4, 79.8]          0
(79.8, 104.2]         0
(104.2, 128.6]        0
(128.6, 153.0]        0
(153.0, 177.4]        0
(177.4, 201.8]        0
(201.8, 226.2]        0
(226.2, 250.6]     3289
(250.6, 275.0]    74270
Name: propertylandusetypeid, dtype: int64
--------------------------------------------

(-2632.9260000000004, 298541.5]    7754
(298541.5, 596734.0]               7708
(596734.0, 894926.5]               7595
(894926.5, 1193119.0]              7714
(1193119.0, 1491311.5]             7844
(1491311.5, 1789504.0]             7826
(1789504.0, 2087696.5]             7824
(2087696.5, 2385889.0]             7713
(2385889.0, 2684081.5]             7734
(2684081.5, 2982274.0]             7862
Name: id, dtype: int64
--------------------------------------------

(34.477000000000004, 390.2]    20
(390.2, 742.4]                 16
(742.4, 1094.6]                 7
(1094.6, 1446.8]                3
(1446.8, 1799.0]                0
(1799.0, 2151.2]                2
(2151.2, 2503.4]                0
(2503.4, 2855.6]                0
(2855.6, 3207.8]                1
(3207.8, 3560.0]                1
Name: basementsqft, dtype: int64
--------------------------------------------

(-0.019, 1.8]    14961
(1.8, 3.6]       56570
(3.6, 5.4]        5077
(5.4, 7.2]         804
(7.2, 9.0]         150
(9.0, 10.8]          7
(10.8, 12.6]         3
(12.6, 14.4]         1
(14.4, 16.2]         0
(16.2, 18.0]         1
Name: bathroomcnt, dtype: int64
--------------------------------------------

(-0.017, 1.6]     4227
(1.6, 3.2]       49657
(3.2, 4.8]       17549
(4.8, 6.4]        5550
(6.4, 8.0]         461
(8.0, 9.6]          70
(9.6, 11.2]         40
(11.2, 12.8]        16
(12.8, 14.4]         3
(14.4, 16.0]         1
Name: bedroomcnt, dtype: int64
--------------------------------------------

(0.988, 2.1]       35
(2.1, 3.2]        335
(3.2, 4.3]       9507
(4.3, 5.4]       2099
(5.4, 6.5]      13501
(6.5, 7.6]       5981
(7.6, 8.7]      14685
(8.7, 9.8]       2303
(9.8, 10.9]       313
(10.9, 12.0]     1049
Name: buildingqualitytypeid, dtype: int64
--------------------------------------------

(0.982, 2.7]    52527
(2.7, 4.4]      21745
(4.4, 6.1]       2364
(6.1, 7.8]        177
(7.8, 9.5]        134
(9.5, 11.2]        10
(11.2, 12.9]        0
(12.9, 14.6]        1
(14.6, 16.3]        0
(16.3, 18.0]        1
Name: calculatedbathnbr, dtype: int64
--------------------------------------------

(65.93299999999999, 65.947]      0
(65.947, 65.96]                  0
(65.96, 65.974]                  0
(65.974, 65.987]                 0
(65.987, 66.0]                 614
(66.0, 66.013]                   0
(66.013, 66.026]                 0
(66.026, 66.04]                  0
(66.04, 66.053]                  0
(66.053, 66.066]                 0
Name: decktypeid, dtype: int64
--------------------------------------------

(37.131, 730.8]      702
(730.8, 1417.6]     3035
(1417.6, 2104.4]    1735
(2104.4, 2791.2]     336
(2791.2, 3478.0]     136
(3478.0, 4164.8]      43
(4164.8, 4851.6]      26
(4851.6, 5538.4]      12
(5538.4, 6225.2]       6
(6225.2, 6912.0]       4
Name: finishedfloor1squarefeet, dtype: int64
--------------------------------------------

(92.487, 3679.2]      74063
(3679.2, 7230.4]       3138
(7230.4, 10781.6]       150
(10781.6, 14332.8]       15
(14332.8, 17884.0]        3
(17884.0, 21435.2]        3
(21435.2, 24986.4]        1
(24986.4, 28537.6]        0
(28537.6, 32088.8]        0
(32088.8, 35640.0]        1
Name: calculatedfinishedsquarefeet, dtype: int64
--------------------------------------------

(106.198, 2308.1]     59739
(2308.1, 4488.2]      12883
(4488.2, 6668.3]       1070
(6668.3, 8848.4]        163
(8848.4, 11028.5]        45
(11028.5, 13208.6]       12
(13208.6, 15388.7]        2
(15388.7, 17568.8]        2
(17568.8, 19748.9]        1
(19748.9, 21929.0]        2
Name: finishedsquarefeet12, dtype: int64
--------------------------------------------

(1055.4950000000001, 1106.4]     2
(1106.4, 1156.8]                 2
(1156.8, 1207.2]                 1
(1207.2, 1257.6]                 2
(1257.6, 1308.0]                 1
(1308.0, 1358.4]                 6
(1358.4, 1408.8]                 2
(1408.8, 1459.2]                18
(1459.2, 1509.6]                 3
(1509.6, 1560.0]                 5
Name: finishedsquarefeet13, dtype: int64
--------------------------------------------

(562.957, 4102.2]     2829
(4102.2, 7606.4]       193
(7606.4, 11110.6]        3
(11110.6, 14614.8]       0
(14614.8, 18119.0]       0
(18119.0, 21623.2]       1
(21623.2, 25127.4]       0
(25127.4, 28631.6]       0
(28631.6, 32135.8]       0
(32135.8, 35640.0]       1
Name: finishedsquarefeet15, dtype: int64
--------------------------------------------

(31.576, 1286.3]      3145
(1286.3, 2528.6]      2557
(2528.6, 3770.9]       243
(3770.9, 5013.2]        62
(5013.2, 6255.5]        17
(6255.5, 7497.8]         7
(7497.8, 8740.1]         2
(8740.1, 9982.4]         1
(9982.4, 11224.7]        0
(11224.7, 12467.0]       1
Name: finishedsquarefeet50, dtype: int64
--------------------------------------------

(374.781, 901.8]    67
(901.8, 1423.6]     95
(1423.6, 1945.4]    45
(1945.4, 2467.2]    46
(2467.2, 2989.0]    30
(2989.0, 3510.8]    33
(3510.8, 4032.6]    31
(4032.6, 4554.4]    33
(4554.4, 5076.2]     4
(5076.2, 5598.0]     2
Name: finishedsquarefeet6, dtype: int64
--------------------------------------------

(6036.925, 6044.4]    50694
(6044.4, 6051.8]          0
(6051.8, 6059.2]      20630
(6059.2, 6066.6]          0
(6066.6, 6074.0]          0
(6074.0, 6081.4]          0
(6081.4, 6088.8]          0
(6088.8, 6096.2]          0
(6096.2, 6103.6]          0
(6103.6, 6111.0]       6250
Name: fips, dtype: int64
--------------------------------------------

(0.995, 1.4]    7016
(1.4, 1.8]         0
(1.8, 2.2]       998
(2.2, 2.6]         0
(2.6, 3.0]       235
(3.0, 3.4]         0
(3.4, 3.8]         0
(3.8, 4.2]        35
(4.2, 4.6]         0
(4.6, 5.0]         3
Name: fireplacecnt, dtype: int64
--------------------------------------------

(0.982, 2.7]    52544
(2.7, 4.4]      22446
(4.4, 6.1]       1701
(6.1, 7.8]        122
(7.8, 9.5]        134
(9.5, 11.2]        10
(11.2, 12.9]        0
(12.9, 14.6]        1
(14.6, 16.3]        0
(16.3, 18.0]        1
Name: fullbathcnt, dtype: int64
--------------------------------------------

(-0.015, 1.4]     5919
(1.4, 2.8]       18637
(2.8, 4.2]         888
(4.2, 5.6]          45
(5.6, 7.0]          18
(7.0, 8.4]           2
(8.4, 9.8]           2
(9.8, 11.2]          4
(11.2, 12.6]         0
(12.6, 14.0]         2
Name: garagecarcnt, dtype: int64
--------------------------------------------

(-4.252000000000001, 425.1]    11960
(425.1, 850.2]                 13179
(850.2, 1275.3]                  324
(1275.3, 1700.4]                  38
(1700.4, 2125.5]                   6
(2125.5, 2550.6]                   2
(2550.6, 2975.7]                   4
(2975.7, 3400.8]                   2
(3400.8, 3825.9]                   1
(3825.9, 4251.0]                   1
Name: garagetotalsqft, dtype: int64
--------------------------------------------

(0.9989, 0.9992]       0
(0.9992, 0.9994]       0
(0.9994, 0.9996]       0
(0.9996, 0.9998]       0
(0.9998, 1.0]       1539
(1.0, 1.0002]          0
(1.0002, 1.0004]       0
(1.0004, 1.0006]       0
(1.0006, 1.0008]       0
(1.0008, 1.001]        0
Name: hashottuborspa, dtype: int64
--------------------------------------------

(33338047.759000003, 33487451.0]     1048
(33487451.0, 33635375.0]             5324
(33635375.0, 33783299.0]            10069

### Data Aquistion Key Findings & Takeaways:
- This dataframe has 77574 rows and 68 columns.
- Target variable: 'logerror'
- There are 11 columns that are dtype "object" that either need to be dropped, or converted to int
- There are numerous columns with mostly missing values that either need to be dropped, or imputed
- There are numerous columns that at first glance appear to be duplicates, or similar enough to either be dropped, or joined
- Also need to drop all propertyusetypeid != 261 (singe family residential)