# Zillow Clustering Project Data Acquisition Notebook

In [1]:
# imports
import pandas as pd
import numpy as np
import acquire
import warnings
warnings.filterwarnings('ignore')

In [2]:
# connect to database, perform SQL query, write to csv, and convert to pandas DataFrame
df = acquire.get_zillow_cluster()

In [4]:
# what do we have to start with?
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52438 entries, 0 to 52437
Data columns (total 68 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   typeconstructiontypeid        76 non-null     float64
 1   storytypeid                   47 non-null     float64
 2   propertylandusetypeid         52438 non-null  float64
 3   heatingorsystemtypeid         33934 non-null  float64
 4   buildingclasstypeid           0 non-null      object
 5   architecturalstyletypeid      70 non-null     float64
 6   airconditioningtypeid         13638 non-null  float64
 7   parcelid                      52438 non-null  int64
 8   id                            52438 non-null  int64
 9   basementsqft                  47 non-null     float64
 10  bathroomcnt                   52438 non-null  float64
 11  bedroomcnt                    52438 non-null  float64
 12  buildingqualitytypeid         33739 non-null  float64
 13  calculatedbathnbr             52301 non-null  float64
 14  decktypeid                    389 non-null    float64
 15  finishedfloor1squarefeet      4379 non-null   float64
 16  calculatedfinishedsquarefeet  52356 non-null  float64
 17  finishedsquarefeet12          52191 non-null  float64
 18  finishedsquarefeet13          0 non-null      object
 19  finishedsquarefeet15          0 non-null      object
 20  finishedsquarefeet50          4379 non-null   float64
 21  finishedsquarefeet6           165 non-null    float64
 22  fips                          52438 non-null  float64
 23  fireplacecnt                  7241 non-null   float64
 24  fullbathcnt                   52301 non-null  float64
 25  garagecarcnt                  18013 non-null  float64
 26  garagetotalsqft               18013 non-null  float64
 27  hashottuborspa                1515 non-null   float64
 28  latitude                      52438 non-null  float64
 29  longitude                     52438 non-null  float64
 30  lotsizesquarefeet             52069 non-null  float64
 31  poolcnt                       11096 non-null  float64
 32  poolsizesum                   867 non-null    float64
 33  pooltypeid10                  444 non-null    float64
 34  pooltypeid2                   1071 non-null   float64
 35  pooltypeid7                   10009 non-null  float64
 36  propertycountylandusecode     52438 non-null  object
 37  propertyzoningdesc            33847 non-null  object
 38  rawcensustractandblock        52438 non-null  float64
 39  regionidcity                  51401 non-null  float64
 40  regionidcounty                52438 non-null  float64
 41  regionidneighborhood          19033 non-null  float64
 42  regionidzip                   52412 non-null  float64
 43  roomcnt                       52438 non-null  float64
 44  threequarterbathnbr           6724 non-null   float64
 45  unitcnt                       33846 non-null  float64
 46  yardbuildingsqft17            1937 non-null   float64
 47  yardbuildingsqft26            63 non-null     float64
 48  yearbuilt                     52322 non-null  float64
 49  numberofstories               14559 non-null  float64
 50  fireplaceflag                 81 non-null     float64
 51  structuretaxvaluedollarcnt    52354 non-null  float64
 52  taxvaluedollarcnt             52437 non-null  float64
 53  assessmentyear                52438 non-null  float64
 54  landtaxvaluedollarcnt         52437 non-null  float64
 55  taxamount                     52434 non-null  float64
 56  taxdelinquencyflag            2079 non-null   object
 57  taxdelinquencyyear            2079 non-null   float64
 58  censustractandblock           52315 non-null  float64
 59  logerror                      52438 non-null  float64
 60  transactiondate               52438 non-null  object
 61  airconditioningdesc           13638 non-null  object
 62  architecturalstyledesc        70 non-null     object
 63  buildingclassdesc             0 non-null      object
 64  heatingorsystemdesc           33934 non-null  object
 65  propertylandusedesc           52438 non-null  object
 66  storydesc                     47 non-null     object
 67  typeconstructiondesc          76 non-null     object
dtypes: float64(52), int64(2), object(14)
memory usage: 27.2+ MB

### Data Aquistion Key Findings & Takeaways:
- This dataframe has 52438 rows and 68 columns.
- Target variable: 'logerror'
- There are 14 columns that are dtype "object" that either need to be dropped, or converted to int
- There are numerous columns with mostly missing values that either need to be dropped, or imputed
- There are numerous columns that at first glance appear to be duplicates, or similar enough to either be dropped, or joined
- Create Columns with county names
- Create Variables:
    - age
    - acres
    - bath:bed ratio
    - taxrate

#### Data Preparation To Do List:
- Set parcelid as index
- Encode or Drop Object Columns
- Create New Variable Columns for:
    - age of property
    - convert lot size to acres
    - bath:bed ratio
    - taxrate
- Drop Columns that have more than 50% null values
- Drop Rows that have more than 75% null values
- Other Columns to Drop:
    - propertylandusetypeid
    - id
    - finishedsqft12
    - assessmentyear