# Zillow Clustering Project Prepare Notebook

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as stats
import seaborn as sns
import os
from env import host, user, password
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.impute import SimpleImputer
import acquire
import prepare
import warnings
warnings.filterwarnings('ignore')

In [2]:
# connect to database, perform SQL query, write to csv, and convert to pandas DataFrame
df = acquire.get_zillow_cluster()

In [3]:
prepare.summarize(df)

----------------------------------------------------
DataFrame Head
   heatingorsystemtypeid  buildingclasstypeid  architecturalstyletypeid  \
0                    NaN                  NaN                       NaN
1                    NaN                  NaN                       NaN
2                    NaN                  NaN                       NaN

   airconditioningtypeid  parcelid  typeconstructiontypeid  storytypeid  \
0                    NaN  14297519                     NaN          NaN
1                    NaN  17052889                     NaN          NaN
2                    NaN  14186244                     NaN          NaN

   propertylandusetypeid       id  basementsqft  ...  censustractandblock  \
0                  261.0  1727539           NaN  ...         6.059063e+13
1                  261.0  1387261           NaN  ...         6.111001e+13
2                  261.0    11677           NaN  ...         6.059022e+13

   logerror  transactiondate        propertylandusedesc  storydesc  \
0  0.025595       2017-01-01  Single Family Residential        NaN
1  0.055619       2017-01-01  Single Family Residential        NaN
2  0.005383       2017-01-01  Single Family Residential        NaN

   typeconstructiondesc  airconditioningdesc  architecturalstyledesc  \
0                   NaN                  NaN                     NaN
1                   NaN                  NaN                     NaN
2                   NaN                  NaN                     NaN

   buildingclassdesc  heatingorsystemdesc
0                NaN                  NaN
1                NaN                  NaN
2                NaN                  NaN

[3 rows x 68 columns]
----------------------------------------------------
DataFrame Info
<class 'pandas.core.frame.DataFrame'>
Int64Index: 77574 entries, 0 to 77573
Data columns (total 68 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   heatingorsystemtypeid         49569 non-null  float64
 1   buildingclasstypeid           15 non-null     float64
 2   architecturalstyletypeid      206 non-null    float64
 3   airconditioningtypeid         25006 non-null  float64
 4   parcelid                      77574 non-null  int64
 5   typeconstructiontypeid        222 non-null    float64
 6   storytypeid                   50 non-null     float64
 7   propertylandusetypeid         77574 non-null  float64
 8   id                            77574 non-null  int64
 9   basementsqft                  50 non-null     float64
 10  bathroomcnt                   77574 non-null  float64
 11  bedroomcnt                    77574 non-null  float64
 12  buildingqualitytypeid         49808 non-null  float64
 13  calculatedbathnbr             76959 non-null  float64
 14  decktypeid                    614 non-null    float64
 15  finishedfloor1squarefeet      6035 non-null   float64
 16  calculatedfinishedsquarefeet  77374 non-null  float64
 17  finishedsquarefeet12          73919 non-null  float64
 18  finishedsquarefeet13          42 non-null     float64
 19  finishedsquarefeet15          3027 non-null   float64
 20  finishedsquarefeet50          6035 non-null   float64
 21  finishedsquarefeet6           386 non-null    float64
 22  fips                          77574 non-null  float64
 23  fireplacecnt                  8287 non-null   float64
 24  fullbathcnt                   76959 non-null  float64
 25  garagecarcnt                  25517 non-null  float64
 26  garagetotalsqft               25517 non-null  float64
 27  hashottuborspa                1539 non-null   float64
 28  latitude                      77574 non-null  float64
 29  longitude                     77574 non-null  float64
 30  lotsizesquarefeet             69317 non-null  float64
 31  poolcnt                       16173 non-null  float64
 32  poolsizesum                   869 non-null    float64
 33  pooltypeid10                  465 non-null    float64
 34  pooltypeid2                   1074 non-null   float64
 35  pooltypeid7                   15078 non-null  float64
 36  propertycountylandusecode     77574 non-null  object
 37  propertyzoningdesc            50474 non-null  object
 38  rawcensustractandblock        77574 non-null  float64
 39  regionidcity                  76102 non-null  float64
 40  regionidcounty                77574 non-null  float64
 41  regionidneighborhood          30973 non-null  float64
 42  regionidzip                   77524 non-null  float64
 43  roomcnt                       77574 non-null  float64
 44  threequarterbathnbr           10105 non-null  float64
 45  unitcnt                       50702 non-null  float64
 46  yardbuildingsqft17            2393 non-null   float64
 47  yardbuildingsqft26            70 non-null     float64
 48  yearbuilt                     77305 non-null  float64
 49  numberofstories               17596 non-null  float64
 50  fireplaceflag                 172 non-null    float64
 51  structuretaxvaluedollarcnt    77459 non-null  float64
 52  taxvaluedollarcnt             77573 non-null  float64
 53  assessmentyear                77574 non-null  float64
 54  landtaxvaluedollarcnt         77572 non-null  float64
 55  taxamount                     77569 non-null  float64
 56  taxdelinquencyflag            2900 non-null   object
 57  taxdelinquencyyear            2900 non-null   float64
 58  censustractandblock           77327 non-null  float64
 59  logerror                      77574 non-null  float64
 60  transactiondate               77574 non-null  object
 61  propertylandusedesc           77574 non-null  object
 62  storydesc                     50 non-null     object
 63  typeconstructiondesc          222 non-null    object
 64  airconditioningdesc           25006 non-null  object
 65  architecturalstyledesc        206 non-null    object
 66  buildingclassdesc             15 non-null     object
 67  heatingorsystemdesc           49569 non-null  object
dtypes: float64(55), int64(2), object(11)
memory usage: 40.8+ MB
None
----------------------------------------------------
DataFrame Description
       heatingorsystemtypeid  buildingclasstypeid  architecturalstyletypeid  \
count           49569.000000            15.000000                206.000000
mean                3.921645             3.933333                  7.388350
std                 3.594814             0.258199                  2.734542
min                 1.000000             3.000000                  2.000000
25%                 2.000000             4.000000                  7.000000
50%                 2.000000             4.000000                  7.000000
75%                 7.000000             4.000000                  7.000000
max                24.000000             4.000000                 21.000000

       airconditioningtypeid      parcelid  typeconstructiontypeid  \
count           25006.000000  7.757400e+04              222.000000
mean                1.812045  1.300630e+07                6.040541
std                 2.965823  3.478043e+06                0.557285
min                 1.000000  1.071186e+07                4.000000
25%                 1.000000  1.153819e+07                6.000000
50%                 1.000000  1.253050e+07                6.000000
75%                 1.000000  1.421124e+07                6.000000
max                13.000000  1.676893e+08               13.000000

       storytypeid  propertylandusetypeid            id  basementsqft  ...  \
count         50.0           77574.000000  7.757400e+04     50.000000  ...
mean           7.0             261.824477  1.495340e+06    679.720000  ...
std            0.0               5.141733  8.609689e+05    689.703546  ...
min            7.0              31.000000  3.490000e+02     38.000000  ...
25%            7.0             261.000000  7.520875e+05    273.000000  ...
50%            7.0             261.000000  1.498169e+06    515.000000  ...
75%            7.0             266.000000  2.240588e+06    796.500000  ...
max            7.0             275.000000  2.982274e+06   3560.000000  ...

       numberofstories  fireplaceflag  structuretaxvaluedollarcnt  \
count     17596.000000          172.0                7.745900e+04
mean          1.434246            1.0                1.892829e+05
std           0.544518            0.0                2.304149e+05
min           1.000000            1.0                4.400000e+01
25%           1.000000            1.0                8.418200e+04
50%           1.000000            1.0                1.364070e+05
75%           2.000000            1.0                2.187340e+05
max           6.000000            1.0                1.142179e+07

       taxvaluedollarcnt  assessmentyear  landtaxvaluedollarcnt  \
count       7.757300e+04         77574.0           7.757200e+04
mean        4.901477e+05          2016.0           3.011468e+05
std         6.538059e+05             0.0           4.927317e+05
min         1.000000e+03          2016.0           1.610000e+02
25%         2.068980e+05          2016.0           8.529200e+04
50%         3.588790e+05          2016.0           2.031810e+05
75%         5.690000e+05          2016.0           3.667610e+05
max         4.906124e+07          2016.0           4.895220e+07

           taxamount  taxdelinquencyyear  censustractandblock      logerror
count   77569.000000         2900.000000         7.732700e+04  77574.000000
mean     5995.855691           14.088276         6.049666e+13      0.016805
std      7628.912331            2.181281         1.533386e+12      0.170742
min        19.920000            3.000000         6.037101e+13     -4.655420
25%      2712.610000           14.000000         6.037311e+13     -0.024310
50%      4448.300000           15.000000         6.037603e+13      0.006673
75%      6926.820000           15.000000         6.059042e+13      0.039292
max    586639.300000           99.000000         4.830301e+14      5.262999

[8 rows x 57 columns]
----------------------------------------------------
DataFrame Value Counts:
(0.976, 3.3]    33646
(3.3, 5.6]          0
(5.6, 7.9]      14882
(7.9, 10.2]         3
(10.2, 12.5]        1
(12.5, 14.8]       60
(14.8, 17.1]        0
(17.1, 19.4]       23
(19.4, 21.7]      104
(21.7, 24.0]      850
Name: heatingorsystemtypeid, dtype: int64
(2.998, 3.1]     1
(3.1, 3.2]       0
(3.2, 3.3]       0
(3.3, 3.4]       0
(3.4, 3.5]       0
(3.5, 3.6]       0
(3.6, 3.7]       0
(3.7, 3.8]       0
(3.8, 3.9]       0
(3.9, 4.0]      14
Name: buildingclasstypeid, dtype: int64
(1.9800000000000002, 3.9]      8
(3.9, 5.8]                     0
(5.8, 7.7]                   172
(7.7, 9.6]                    19
(9.6, 11.5]                    0
(11.5, 13.4]                   0
(13.4, 15.3]                   0
(15.3, 17.2]                   0
(17.2, 19.1]                   0
(19.1, 21.0]                   7
Name: architecturalstyletypeid, dtype: int64
(0.987, 2.2]    23185
(2.2, 3.4]          0
(3.4, 4.6]          0
(4.6, 5.8]        167
(5.8, 7.0]          0
(7.0, 8.2]          0
(8.2, 9.4]         26
(9.4, 10.6]         0
(10.6, 11.8]       53
(11.8, 13.0]     1575
Name: airconditioningtypeid, dtype: int64
(10554877.537, 26409601.2]    77543
(26409601.2, 42107347.4]          0
(42107347.4, 57805093.6]          0
(57805093.6, 73502839.8]          0
(73502839.8, 89200586.0]          1
(89200586.0, 104898332.2]         1
(104898332.2, 120596078.4]        0
(120596078.4, 136293824.6]        0
(136293824.6, 151991570.8]        0
(151991570.8, 167689317.0]       29
Name: parcelid, dtype: int64
(3.99, 4.9]       1
(4.9, 5.8]        0
(5.8, 6.7]      219
(6.7, 7.6]        0
(7.6, 8.5]        0
(8.5, 9.4]        0
(9.4, 10.3]       1
(10.3, 11.2]      0
(11.2, 12.1]      0
(12.1, 13.0]      1
Name: typeconstructiontypeid, dtype: int64
(6.992, 6.994]     0
(6.994, 6.996]     0
(6.996, 6.997]     0
(6.997, 6.999]     0
(6.999, 7.0]      50
(7.0, 7.001]       0
(7.001, 7.003]     0
(7.003, 7.004]     0
(7.004, 7.006]     0
(7.006, 7.007]     0
Name: storytypeid, dtype: int64
(30.755, 55.4]       15
(55.4, 79.8]          0
(79.8, 104.2]         0
(104.2, 128.6]        0
(128.6, 153.0]        0
(153.0, 177.4]        0
(177.4, 201.8]        0
(201.8, 226.2]        0
(226.2, 250.6]     3289
(250.6, 275.0]    74270
Name: propertylandusetypeid, dtype: int64
(-2632.9260000000004, 298541.5]    7754
(298541.5, 596734.0]               7708
(596734.0, 894926.5]               7595
(894926.5, 1193119.0]              7714
(1193119.0, 1491311.5]             7844
(1491311.5, 1789504.0]             7826
(1789504.0, 2087696.5]             7824
(2087696.5, 2385889.0]             7713
(2385889.0, 2684081.5]             7734
(2684081.5, 2982274.0]             7862
Name: id, dtype: int64
(34.477000000000004, 390.2]    20
(390.2, 742.4]                 16
(742.4, 1094.6]                 7
(1094.6, 1446.8]                3
(1446.8, 1799.0]                0
(1799.0, 2151.2]                2
(2151.2, 2503.4]                0
(2503.4, 2855.6]                0
(2855.6, 3207.8]                1
(3207.8, 3560.0]                1
Name: basementsqft, dtype: int64
(-0.019, 1.8]    14961
(1.8, 3.6]       56570
(3.6, 5.4]        5077
(5.4, 7.2]         804
(7.2, 9.0]         150
(9.0, 10.8]          7
(10.8, 12.6]         3
(12.6, 14.4]         1
(14.4, 16.2]         0
(16.2, 18.0]         1
Name: bathroomcnt, dtype: int64
(-0.017, 1.6]     4227
(1.6, 3.2]       49657
(3.2, 4.8]       17549
(4.8, 6.4]        5550
(6.4, 8.0]         461
(8.0, 9.6]          70
(9.6, 11.2]         40
(11.2, 12.8]        16
(12.8, 14.4]         3
(14.4, 16.0]         1
Name: bedroomcnt, dtype: int64
(0.988, 2.1]       35
(2.1, 3.2]        335
(3.2, 4.3]       9507
(4.3, 5.4]       2099
(5.4, 6.5]      13501
(6.5, 7.6]       5981
(7.6, 8.7]      14685
(8.7, 9.8]       2303
(9.8, 10.9]       313
(10.9, 12.0]     1049
Name: buildingqualitytypeid, dtype: int64
(0.982, 2.7]    52527
(2.7, 4.4]      21745
(4.4, 6.1]       2364
(6.1, 7.8]        177
(7.8, 9.5]        134
(9.5, 11.2]        10
(11.2, 12.9]        0
(12.9, 14.6]        1
(14.6, 16.3]        0
(16.3, 18.0]        1
Name: calculatedbathnbr, dtype: int64
(65.93299999999999, 65.947]      0
(65.947, 65.96]                  0
(65.96, 65.974]                  0
(65.974, 65.987]                 0
(65.987, 66.0]                 614
(66.0, 66.013]                   0
(66.013, 66.026]                 0
(66.026, 66.04]                  0
(66.04, 66.053]                  0
(66.053, 66.066]                 0
Name: decktypeid, dtype: int64
(37.131, 730.8]      702
(730.8, 1417.6]     3035
(1417.6, 2104.4]    1735
(2104.4, 2791.2]     336
(2791.2, 3478.0]     136
(3478.0, 4164.8]      43
(4164.8, 4851.6]      26
(4851.6, 5538.4]      12
(5538.4, 6225.2]       6
(6225.2, 6912.0]       4
Name: finishedfloor1squarefeet, dtype: int64
(92.487, 3679.2]      74063
(3679.2, 7230.4]       3138
(7230.4, 10781.6]       150
(10781.6, 14332.8]       15
(14332.8, 17884.0]        3
(17884.0, 21435.2]        3
(21435.2, 24986.4]        1
(24986.4, 28537.6]        0
(28537.6, 32088.8]        0
(32088.8, 35640.0]        1
Name: calculatedfinishedsquarefeet, dtype: int64
(106.198, 2308.1]     59739
(2308.1, 4488.2]      12883
(4488.2, 6668.3]       1070
(6668.3, 8848.4]        163
(8848.4, 11028.5]        45
(11028.5, 13208.6]       12
(13208.6, 15388.7]        2
(15388.7, 17568.8]        2
(17568.8, 19748.9]        1
(19748.9, 21929.0]        2
Name: finishedsquarefeet12, dtype: int64
(1055.4950000000001, 1106.4]     2
(1106.4, 1156.8]                 2
(1156.8, 1207.2]                 1
(1207.2, 1257.6]                 2
(1257.6, 1308.0]                 1
(1308.0, 1358.4]                 6
(1358.4, 1408.8]                 2
(1408.8, 1459.2]                18
(1459.2, 1509.6]                 3
(1509.6, 1560.0]                 5
Name: finishedsquarefeet13, dtype: int64
(562.957, 4102.2]     2829
(4102.2, 7606.4]       193
(7606.4, 11110.6]        3
(11110.6, 14614.8]       0
(14614.8, 18119.0]       0
(18119.0, 21623.2]       1
(21623.2, 25127.4]       0
(25127.4, 28631.6]       0
(28631.6, 32135.8]       0
(32135.8, 35640.0]       1
Name: finishedsquarefeet15, dtype: int64
(31.576, 1286.3]      3145
(1286.3, 2528.6]      2557
(2528.6, 3770.9]       243
(3770.9, 5013.2]        62
(5013.2, 6255.5]        17
(6255.5, 7497.8]         7
(7497.8, 8740.1]         2
(8740.1, 9982.4]         1
(9982.4, 11224.7]        0
(11224.7, 12467.0]       1
Name: finishedsquarefeet50, dtype: int64
(374.781, 901.8]    67
(901.8, 1423.6]     95
(1423.6, 1945.4]    45
(1945.4, 2467.2]    46
(2467.2, 2989.0]    30
(2989.0, 3510.8]    33
(3510.8, 4032.6]    31
(4032.6, 4554.4]    33
(4554.4, 5076.2]     4
(5076.2, 5598.0]     2
Name: finishedsquarefeet6, dtype: int64
(6036.925, 6044.4]    50694
(6044.4, 6051.8]          0
(6051.8, 6059.2]      20630
(6059.2, 6066.6]          0
(6066.6, 6074.0]          0
(6074.0, 6081.4]          0
(6081.4, 6088.8]          0
(6088.8, 6096.2]          0
(6096.2, 6103.6]          0
(6103.6, 6111.0]       6250
Name: fips, dtype: int64
(0.995, 1.4]    7016
(1.4, 1.8]         0
(1.8, 2.2]       998
(2.2, 2.6]         0
(2.6, 3.0]       235
(3.0, 3.4]         0
(3.4, 3.8]         0
(3.8, 4.2]        35
(4.2, 4.6]         0
(4.6, 5.0]         3
Name: fireplacecnt, dtype: int64
(0.982, 2.7]    52544
(2.7, 4.4]      22446
(4.4, 6.1]       1701
(6.1, 7.8]        122
(7.8, 9.5]        134
(9.5, 11.2]        10
(11.2, 12.9]        0
(12.9, 14.6]        1
(14.6, 16.3]        0
(16.3, 18.0]        1
Name: fullbathcnt, dtype: int64
(-0.015, 1.4]     5919
(1.4, 2.8]       18637
(2.8, 4.2]         888
(4.2, 5.6]          45
(5.6, 7.0]          18
(7.0, 8.4]           2
(8.4, 9.8]           2
(9.8, 11.2]          4
(11.2, 12.6]         0
(12.6, 14.0]         2
Name: garagecarcnt, dtype: int64
(-4.252000000000001, 425.1]    11960
(425.1, 850.2]                 13179
(850.2, 1275.3]                  324
(1275.3, 1700.4]                  38
(1700.4, 2125.5]                   6
(2125.5, 2550.6]                   2
(2550.6, 2975.7]                   4
(2975.7, 3400.8]                   2
(3400.8, 3825.9]                   1
(3825.9, 4251.0]                   1
Name: garagetotalsqft, dtype: int64
(0.9989, 0.9992]       0
(0.9992, 0.9994]       0
(0.9994, 0.9996]       0
(0.9996, 0.9998]       0
(0.9998, 1.0]       1539
(1.0, 1.0002]          0
(1.0002, 1.0004]       0
(1.0004, 1.0006]       0
(1.0006, 1.0008]       0
(1.0008, 1.001]        0
Name: hashottuborspa, dtype: int64
(33338047.759000003, 33487451.0]     1048
(33487451.0, 33635375.0]             5324
(33635375.0, 33783299.0]            10069
(33783299.0, 33931223.0]            14828
(33931223.0, 34079147.0]            14271
(34079147.0, 34227071.0]            18946
(34227071.0, 34374995.0]             6275
(34374995.0, 34522919.0]             3148
(34522919.0, 34670843.0]             2323
(34670843.0, 34818767.0]             1342
Name: latitude, dtype: int64
(-119477336.781, -119283338.0]      221
(-119283338.0, -119091260.0]       2000
(-119091260.0, -118899182.0]       1498
(-118899182.0, -118707104.0]       2667
(-118707104.0, -118515026.0]       5938
(-118515026.0, -118322948.0]      15473
(-118322948.0, -118130870.0]      15408
(-118130870.0, -117938792.0]      14256
(-117938792.0, -117746714.0]      12711
(-117746714.0, -117554636.0]       7402
Name: longitude, dtype: int64
(-6734.775000000001, 697313.4]    69030
(697313.4, 1394390.8]               228
(1394390.8, 2091468.2]               40
(2091468.2, 2788545.6]                2
(2788545.6, 3485623.0]                1
(3485623.0, 4182700.4]                9
(4182700.4, 4879777.8]                0
(4879777.8, 5576855.2]                0
(5576855.2, 6273932.6]                0
(6273932.6, 6971010.0]                7
Name: lotsizesquarefeet, dtype: int64
(0.9989, 0.9992]        0
(0.9992, 0.9994]        0
(0.9994, 0.9996]        0
(0.9996, 0.9998]        0
(0.9998, 1.0]       16173

In [4]:
df, \
train, \
validate, \
test, \
X_train, \
y_train, \
X_validate, \
y_validate, \
X_test, \
y_test = prepare.prep_zillow_cluster(df)

In [5]:
prepare.summarize(X_train)

----------------------------------------------------
DataFrame Head
       parcelid  bathroomcnt  bedroomcnt  calculatedbathnbr  \
27396  11267849          1.0         2.0                1.0
8743   14480949          3.0         3.0                3.0
18209  10841075          3.0         3.0                3.0

       calculatedfinishedsquarefeet  finishedsquarefeet12    fips  \
27396                         994.0                 994.0  6037.0
8743                         3328.0                3328.0  6059.0
18209                        1924.0                1924.0  6037.0

       fullbathcnt    latitude    longitude  ...  censustractandblock  \
27396          1.0  34635740.0 -118174791.0  ...         6.037910e+13
8743           3.0  33617263.0 -117572338.0  ...         6.059032e+13
18209          3.0  34188979.0 -118435469.0  ...         6.037128e+13

      transactiondate        propertylandusedesc  LA  Orange  Ventura   age  \
27396      2017-04-18  Single Family Residential   1       0        0   8.0
8743       2017-02-09  Single Family Residential   0       1        0  39.0
18209      2017-03-17  Single Family Residential   1       0        0  75.0

        taxrate     acres  bath_bed_ratio
27396  1.296683  2.580533             0.5
8743   1.005614  0.141162             1.0
18209  1.206804  0.185996             1.0

[3 rows x 32 columns]
----------------------------------------------------
DataFrame Info
<class 'pandas.core.frame.DataFrame'>
Int64Index: 27010 entries, 27396 to 18368
Data columns (total 32 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   parcelid                      27010 non-null  int64
 1   bathroomcnt                   27010 non-null  float64
 2   bedroomcnt                    27010 non-null  float64
 3   calculatedbathnbr             27010 non-null  float64
 4   calculatedfinishedsquarefeet  27010 non-null  float64
 5   finishedsquarefeet12          27010 non-null  float64
 6   fips                          27010 non-null  float64
 7   fullbathcnt                   27010 non-null  float64
 8   latitude                      27010 non-null  float64
 9   longitude                     27010 non-null  float64
 10  lotsizesquarefeet             27010 non-null  float64
 11  propertycountylandusecode     27010 non-null  object
 12  rawcensustractandblock        27010 non-null  float64
 13  regionidcity                  27010 non-null  float64
 14  regionidzip                   27010 non-null  float64
 15  roomcnt                       27010 non-null  float64
 16  yearbuilt                     27010 non-null  float64
 17  structuretaxvaluedollarcnt    27010 non-null  float64
 18  taxvaluedollarcnt             27010 non-null  float64
 19  assessmentyear                27010 non-null  float64
 20  landtaxvaluedollarcnt         27010 non-null  float64
 21  taxamount                     27010 non-null  float64
 22  censustractandblock           27010 non-null  float64
 23  transactiondate               27010 non-null  object
 24  propertylandusedesc           27010 non-null  object
 25  LA                            27010 non-null  uint8
 26  Orange                        27010 non-null  uint8
 27  Ventura                       27010 non-null  uint8
 28  age                           27010 non-null  float64
 29  taxrate                       27010 non-null  float64
 30  acres                         27010 non-null  float64
 31  bath_bed_ratio                27010 non-null  float64
dtypes: float64(25), int64(1), object(3), uint8(3)
memory usage: 6.3+ MB
None
----------------------------------------------------
DataFrame Description
           parcelid   bathroomcnt    bedroomcnt  calculatedbathnbr  \
count  2.701000e+04  27010.000000  27010.000000        27010.00000
mean   1.298955e+07      2.153221      3.231877            2.15311
std    3.314113e+06      0.757688      0.794497            0.75765
min    1.071188e+07      1.000000      2.000000            1.00000
25%    1.149975e+07      2.000000      3.000000            2.00000
50%    1.257642e+07      2.000000      3.000000            2.00000
75%    1.410849e+07      3.000000      4.000000            3.00000
max    1.676380e+08      4.000000      5.000000            4.00000

       calculatedfinishedsquarefeet  finishedsquarefeet12          fips  \
count                  27010.000000          27010.000000  27010.000000
mean                    1763.632099           1764.731507   6049.051388
std                      665.069287            663.929547     21.021026
min                      152.000000            152.000000   6037.000000
25%                     1257.000000           1260.000000   6037.000000
50%                     1613.000000           1614.000000   6037.000000
75%                     2152.000000           2150.000000   6059.000000
max                     3858.000000           3858.000000   6111.000000

        fullbathcnt      latitude     longitude  ...  landtaxvaluedollarcnt  \
count  27010.000000  2.701000e+04  2.701000e+04  ...           2.701000e+04
mean       2.095187  3.402639e+07 -1.181941e+08  ...           2.835244e+05
std        0.748461  2.745058e+05  3.549995e+05  ...           3.433116e+05
min        1.000000  3.334062e+07 -1.194754e+08  ...           2.250000e+03
25%        2.000000  3.383010e+07 -1.183922e+08  ...           6.870300e+04
50%        2.000000  3.401978e+07 -1.181485e+08  ...           2.055310e+05
75%        3.000000  3.419109e+07 -1.179349e+08  ...           3.805870e+05
max        4.000000  3.481877e+07 -1.175546e+08  ...           1.018599e+07

           taxamount  censustractandblock            LA        Orange  \
count   27010.000000         2.701000e+04  27010.000000  27010.000000
mean     5461.739230         6.050894e+13      0.649981      0.266346
std      4968.481065         2.579424e+12      0.476984      0.442055
min        49.180000         6.037101e+13      0.000000      0.000000
25%      2580.072500         6.037402e+13      0.000000      0.000000
50%      4444.310000         6.037603e+13      1.000000      0.000000
75%      6800.170000         6.059042e+13      1.000000      1.000000
max    125455.750000         4.830301e+14      1.000000      1.000000

            Ventura           age       taxrate         acres  bath_bed_ratio
count  27010.000000  27010.000000  27010.000000  27010.000000    27010.000000
mean       0.083673     54.509034      1.342173      0.231515        0.673494
std        0.276901     22.104699      0.518972      2.001015        0.210964
min        0.000000      1.000000      0.045116      0.011019        0.200000
25%        0.000000     40.000000      1.169384      0.126951        0.500000
50%        0.000000     57.000000      1.236649      0.154959        0.666667
75%        0.000000     67.000000      1.378614      0.191483        0.750000
max        1.000000    139.000000     45.288365    160.032369        2.000000

[8 rows x 29 columns]
----------------------------------------------------
DataFrame Value Counts:
(10554950.873, 26404489.6]    27000
(26404489.6, 42097102.2]          0
(42097102.2, 57789714.8]          0
(57789714.8, 73482327.4]          0
(73482327.4, 89174940.0]          1
(89174940.0, 104867552.6]         0
(104867552.6, 120560165.2]        0
(120560165.2, 136252777.8]        0
(136252777.8, 151945390.4]        0
(151945390.4, 167638003.0]        9
Name: parcelid, dtype: int64
(0.996, 1.3]     5015
(1.3, 1.6]        467
(1.6, 1.9]          0
(1.9, 2.2]      12173
(2.2, 2.5]       2218
(2.5, 2.8]          0
(2.8, 3.1]       5783
(3.1, 3.4]          0
(3.4, 3.7]        426
(3.7, 4.0]        928
Name: bathroomcnt, dtype: int64
(1.9960000000000002, 2.3]     4632
(2.3, 2.6]                       0
(2.6, 2.9]                       0
(2.9, 3.2]                   12970
(3.2, 3.5]                       0
(3.5, 3.8]                       0
(3.8, 4.1]                    7921
(4.1, 4.4]                       0
(4.4, 4.7]                       0
(4.7, 5.0]                    1487
Name: bedroomcnt, dtype: int64
(0.996, 1.3]     5015
(1.3, 1.6]        465
(1.6, 1.9]          0
(1.9, 2.2]      12183
(2.2, 2.5]       2210
(2.5, 2.8]          0
(2.8, 3.1]       5783
(3.1, 3.4]          0
(3.4, 3.7]        426
(3.7, 4.0]        928
Name: calculatedbathnbr, dtype: int64
(148.293, 522.6]       9
(522.6, 893.2]      1170
(893.2, 1263.8]     5695
(1263.8, 1634.4]    6955
(1634.4, 2005.0]    4954
(2005.0, 2375.6]    3235
(2375.6, 2746.2]    2256
(2746.2, 3116.8]    1428
(3116.8, 3487.4]     900
(3487.4, 3858.0]     408
Name: calculatedfinishedsquarefeet, dtype: int64
(148.293, 522.6]       9
(522.6, 893.2]      1150
(893.2, 1263.8]     5663
(1263.8, 1634.4]    7020
(1634.4, 2005.0]    4949
(2005.0, 2375.6]    3231
(2375.6, 2746.2]    2253
(2746.2, 3116.8]    1427
(3116.8, 3487.4]     900
(3487.4, 3858.0]     408
Name: finishedsquarefeet12, dtype: int64
(6036.925, 6044.4]    17556
(6044.4, 6051.8]          0
(6051.8, 6059.2]       7194
(6059.2, 6066.6]          0
(6066.6, 6074.0]          0
(6074.0, 6081.4]          0
(6081.4, 6088.8]          0
(6088.8, 6096.2]          0
(6096.2, 6103.6]          0
(6103.6, 6111.0]       2260
Name: fips, dtype: int64
(0.996, 1.3]     5480
(1.3, 1.6]          0
(1.6, 1.9]          0
(1.9, 2.2]      14401
(2.2, 2.5]          0
(2.5, 2.8]          0
(2.8, 3.1]       6207
(3.1, 3.4]          0
(3.4, 3.7]          0
(3.7, 4.0]        922
Name: fullbathcnt, dtype: int64
(33339141.852, 33488434.7]     384
(33488434.7, 33636249.4]      1451
(33636249.4, 33784064.1]      3166
(33784064.1, 33931878.8]      5821
(33931878.8, 34079693.5]      4688
(34079693.5, 34227508.2]      6269
(34227508.2, 34375322.9]      2418
(34375322.9, 34523137.6]       933
(34523137.6, 34670952.3]      1181
(34670952.3, 34818767.0]       699
Name: latitude, dtype: int64
(-119477336.781, -119283338.0]      91
(-119283338.0, -119091260.0]       726
(-119091260.0, -118899182.0]       533
(-118899182.0, -118707104.0]       872
(-118707104.0, -118515026.0]      1883
(-118515026.0, -118322948.0]      4662
(-118322948.0, -118130870.0]      5324
(-118130870.0, -117938792.0]      6062
(-117938792.0, -117746714.0]      4667
(-117746714.0, -117554636.0]      2190
Name: longitude, dtype: int64
(-6490.531, 697533.0]     27004
(697533.0, 1394586.0]         1
(1394586.0, 2091639.0]        1
(2091639.0, 2788692.0]        0
(2788692.0, 3485745.0]        0
(3485745.0, 4182798.0]        0
(4182798.0, 4879851.0]        0
(4879851.0, 5576904.0]        0
(5576904.0, 6273957.0]        0
(6273957.0, 6971010.0]        4
Name: lotsizesquarefeet, dtype: int64
0100    14222
122      6772
0101     3061
1111     1792
1110      468
1         422
0104      183
0103       28
010G       19
010M       19
0108       19
0102        2
0110        1
0109        1
0141        1
Name: propertycountylandusecode, dtype: int64
(60370272.019999996, 60444919.091]    17556
(60444919.091, 60518827.081]              0
(60518827.081, 60592735.071]           7194
(60592735.071, 60666643.061]              0
(60666643.061, 60740551.051]              0
(60740551.051, 60814459.041]              0
(60814459.041, 60888367.031]              0
(60888367.031, 60962275.021]              0
(60962275.021, 61036183.011]              0
(61036183.011, 61110091.001]           2260
Name: rawcensustractandblock, dtype: int64
(3097.9339999999997, 42797.5]    20635
(42797.5, 82104.0]                5476
(82104.0, 121410.5]                458
(121410.5, 160717.0]                 0
(160717.0, 200023.5]                 0
(200023.5, 239330.0]                 0
(239330.0, 278636.5]                 8
(278636.5, 317943.0]                 0
(317943.0, 357249.5]                 0
(357249.5, 396556.0]               433
Name: regionidcity, dtype: int64
(95678.306, 126351.3]    27003
(126351.3, 156720.6]         0
(156720.6, 187089.9]         0
(187089.9, 217459.2]         0
(217459.2, 247828.5]         0
(247828.5, 278197.8]         0
(278197.8, 308567.1]         0
(308567.1, 338936.4]         0
(338936.4, 369305.7]         0
(369305.7, 399675.0]         7
Name: regionidzip, dtype: int64
(-0.013000000000000001, 1.2]    19322
(1.2, 2.4]                          4
(2.4, 3.6]                          4
(3.6, 4.8]                        257
(4.8, 6.0]                       3302
(6.0, 7.2]                       1955
(7.2, 8.4]                       1501
(8.4, 9.6]                        552
(9.6, 10.8]                        98
(10.8, 12.0]                       15
Name: roomcnt, dtype: int64
(1877.861, 1891.8]      13
(1891.8, 1905.6]        76
(1905.6, 1919.4]       520
(1919.4, 1933.2]      1996
(1933.2, 1947.0]      2599
(1947.0, 1960.8]      8679
(1960.8, 1974.6]      5512
(1974.6, 1988.4]      3648
(1988.4, 2002.2]      2743
(2002.2, 2016.0]      1224
Name: yearbuilt, dtype: int64
(-1791.245, 258308.4]     22696
(258308.4, 515832.8]       3765
(515832.8, 773357.2]        411
(773357.2, 1030881.6]        84
(1030881.6, 1288406.0]       30
(1288406.0, 1545930.4]       12
(1545930.4, 1803454.8]        5
(1803454.8, 2060979.2]        3
(2060979.2, 2318503.6]        2
(2318503.6, 2576028.0]        2
Name: structuretaxvaluedollarcnt, dtype: int64
(-7742.747, 1102928.6]     25611
(1102928.6, 2202603.2]      1187
(2202603.2, 3302277.8]       153
(3302277.8, 4401952.4]        36
(4401952.4, 5501627.0]        11
(5501627.0, 6601301.6]         5
(6601301.6, 7700976.2]         2
(7700976.2, 8800650.8]         1
(8800650.8, 9900325.4]         2
(9900325.4, 11000000.0]        2
Name: taxvaluedollarcnt, dtype: int64
(2013.983, 2014.387]        0
(2014.387, 2014.79]         0
(2014.79, 2015.194]         0
(2015.194, 2015.597]        0
(2015.597, 2016.0]      27010
(2016.0, 2016.403]          0
(2016.403, 2016.806]        0
(2016.806, 2017.21]         0
(2017.21, 2017.613]         0
(2017.613, 2018.016]        0
Name: assessmentyear, dtype: int64
(-7933.741, 1020624.0]     26240
(1020624.0, 2038998.0]       656
(2038998.0, 3057372.0]        82
(3057372.0, 4075746.0]        18
(4075746.0, 5094120.0]         5
(5094120.0, 6112494.0]         2
(6112494.0, 7130868.0]         3
(7130868.0, 8149242.0]         0
(8149242.0, 9167616.0]         1
(9167616.0, 10185990.0]        3
Name: landtaxvaluedollarcnt, dtype: int64
(-76.22800000000001, 12589.837]    25439
(12589.837, 25130.494]              1347
(25130.494, 37671.151]               161
(37671.151, 50211.808]                36
(50211.808, 62752.465]                13
(62752.465, 75293.122]                 8
(75293.122, 87833.779]                 1
(87833.779, 100374.436]                2
(100374.436, 112915.093]               1
(112915.093, 125455.75]                2
Name: taxamount, dtype: int64
(59948352007017.984, 102636920499302.4]    27009
(102636920499302.4, 144902829897603.8]         0
(144902829897603.8, 187168739295905.2]         0
(187168739295905.2, 229434648694206.6]         0
(229434648694206.6, 271700558092508.0]         0
(271700558092508.0, 313966467490809.4]         0
(313966467490809.4, 356232376889110.8]         0
(356232376889110.8, 398498286287412.2]         0
(398498286287412.2, 440764195685713.56]        0
(440764195685713.56, 483030105084015.0]        1
Name: censustractandblock, dtype: int64
2017-06-30    418
2017-04-28    314
2017-07-28    293
2017-05-31    288
2017-06-16    277
             ...
2017-05-07      1
2017-09-20      1
2017-05-21      1
2017-08-12      1
2017-09-17      1
Name: transactiondate, Length: 248, dtype: int64
Single Family Residential    27010
Name: propertylandusedesc, dtype: int64
(-0.002, 0.1]     9454
(0.1, 0.2]           0
(0.2, 0.3]           0
(0.3, 0.4]           0
(0.4, 0.5]           0
(0.5, 0.6]           0
(0.6, 0.7]           0
(0.7, 0.8]           0
(0.8, 0.9]           0
(0.9, 1.0]       17556
Name: LA, dtype: int64
(-0.002, 0.1]    19816
(0.1, 0.2]           0
(0.2, 0.3]           0
(0.3, 0.4]           0
(0.4, 0.5]           0
(0.5, 0.6]           0
(0.6, 0.7]           0
(0.7, 0.8]           0
(0.8, 0.9]           0
(0.9, 1.0]        7194
Name: Orange, dtype: int64
(-0.002, 0.1]    24750
(0.1, 0.2]           0
(0.2, 0.3]           0
(0.3, 0.4]           0
(0.4, 0.5]           0
(0.5, 0.6]           0
(0.6, 0.7]           0
(0.7, 0.8]           0
(0.8, 0.9]           0
(0.9, 1.0]        2260
Name: Ventura, dtype: int64
(0.861, 14.8]     1224
(14.8, 28.6]      2743
(28.6, 42.4]      3648
(42.4, 56.2]      5512
(56.2, 70.0]      9235
(70.0, 83.8]      2043
(83.8, 97.6]      1996
(97.6, 111.4]      520
(111.4, 125.2]      76
(125.2, 139.0]      13
Name: age, dtype: int64
(-0.001127, 4.569]    26955
(4.569, 9.094]           43
(9.094, 13.618]           7
(13.618, 18.142]          3
(18.142, 22.667]          1
(22.667, 27.191]          0
(27.191, 31.715]          0
(31.715, 36.24]           0
(36.24, 40.764]           0
(40.764, 45.288]          1
Name: taxrate, dtype: int64
(-0.15, 16.013]       27004
(16.013, 32.015]          1
(32.015, 48.017]          1
(48.017, 64.02]           0
(64.02, 80.022]           0
(80.022, 96.024]          0
(96.024, 112.026]         0
(112.026, 128.028]        0
(128.028, 144.03]         0
(144.03, 160.032]         4
Name: acres, dtype: int64
(0.197, 0.38]    2295
(0.38, 0.56]     6426
(0.56, 0.74]     9297
(0.74, 0.92]     4723
(0.92, 1.1]      3709
(1.1, 1.28]       224
(1.28, 1.46]      163
(1.46, 1.64]      160
(1.64, 1.82]        8
(1.82, 2.0]         5
Name: bath_bed_ratio, dtype: int64
----------------------------------------------------
Nulls in DataFrae by Column:
                              num_rows_missing  percent_rows_missing
parcelid                                     0                   0.0
bathroomcnt                                  0                   0.0
bedroomcnt                                   0                   0.0
calculatedbathnbr                            0                   0.0
calculatedfinishedsquarefeet                 0                   0.0
finishedsquarefeet12                         0                   0.0
fips                                         0                   0.0
fullbathcnt                                  0                   0.0
latitude                                     0                   0.0
longitude                                    0                   0.0
lotsizesquarefeet                            0                   0.0
propertycountylandusecode                    0                   0.0
rawcensustractandblock                       0                   0.0
regionidcity                                 0                   0.0
regionidzip                                  0                   0.0
roomcnt                                      0                   0.0
yearbuilt                                    0                   0.0
structuretaxvaluedollarcnt                   0                   0.0
taxvaluedollarcnt                            0                   0.0
assessmentyear                               0                   0.0
landtaxvaluedollarcnt                        0                   0.0
taxamount                                    0                   0.0
censustractandblock                          0                   0.0
transactiondate                              0                   0.0
propertylandusedesc                          0                   0.0
LA                                           0                   0.0
Orange                                       0                   0.0
Ventura                                      0                   0.0
age                                          0                   0.0
taxrate                                      0                   0.0
acres                                        0                   0.0
bath_bed_ratio                               0                   0.0
----------------------------------------------------
Nulls in DataFrame by Rows:
  num_cols_missing percent_cols_missing  num_rows