# Zillow Clustering Project Scratchpad

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as stats
import seaborn as sns
import os
from env import host, user, password
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.impute import SimpleImputer
import acquire
import prepare
import warnings
warnings.filterwarnings('ignore')

In [5]:
# connect to database, perform SQL query, write to csv, and convert to pandas DataFrame
df = acquire.get_zillow_cluster()

In [6]:
# what are we starting with?
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 52438 entries, 0 to 52437
Data columns (total 68 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   typeconstructiontypeid        76 non-null     float64
 1   storytypeid                   47 non-null     float64
 2   propertylandusetypeid         52438 non-null  float64
 3   heatingorsystemtypeid         33934 non-null  float64
 4   buildingclasstypeid           0 non-null      float64
 5   architecturalstyletypeid      70 non-null     float64
 6   airconditioningtypeid         13638 non-null  float64
 7   parcelid                      52438 non-null  int64
 8   id                            52438 non-null  int64
 9   basementsqft                  47 non-null     float64
 10  bathroomcnt                   52438 non-null  float64
 11  bedroomcnt                    52438 non-null  float64
 12  buildingqualitytypeid         33739 non-null  float64
 13  calculatedbathnbr             52301 non-null  float64
 14  decktypeid                    389 non-null    float64
 15  finishedfloor1squarefeet      4379 non-null   float64
 16  calculatedfinishedsquarefeet  52356 non-null  float64
 17  finishedsquarefeet12          52191 non-null  float64
 18  finishedsquarefeet13          0 non-null      float64
 19  finishedsquarefeet15          0 non-null      float64
 20  finishedsquarefeet50          4379 non-null   float64
 21  finishedsquarefeet6           165 non-null    float64
 22  fips                          52438 non-null  float64
 23  fireplacecnt                  7241 non-null   float64
 24  fullbathcnt                   52301 non-null  float64
 25  garagecarcnt                  18013 non-null  float64
 26  garagetotalsqft               18013 non-null  float64
 27  hashottuborspa                1515 non-null   float64
 28  latitude                      52438 non-null  float64
 29  longitude                     52438 non-null  float64
 30  lotsizesquarefeet             52069 non-null  float64
 31  poolcnt                       11096 non-null  float64
 32  poolsizesum                   867 non-null    float64
 33  pooltypeid10                  444 non-null    float64
 34  pooltypeid2                   1071 non-null   float64
 35  pooltypeid7                   10009 non-null  float64
 36  propertycountylandusecode     52438 non-null  object
 37  propertyzoningdesc            33847 non-null  object
 38  rawcensustractandblock        52438 non-null  float64
 39  regionidcity                  51401 non-null  float64
 40  regionidcounty                52438 non-null  float64
 41  regionidneighborhood          19033 non-null  float64
 42  regionidzip                   52412 non-null  float64
 43  roomcnt                       52438 non-null  float64
 44  threequarterbathnbr           6724 non-null   float64
 45  unitcnt                       33846 non-null  float64
 46  yardbuildingsqft17            1937 non-null   float64
 47  yardbuildingsqft26            63 non-null     float64
 48  yearbuilt                     52322 non-null  float64
 49  numberofstories               14559 non-null  float64
 50  fireplaceflag                 81 non-null     float64
 51  structuretaxvaluedollarcnt    52354 non-null  float64
 52  taxvaluedollarcnt             52437 non-null  float64
 53  assessmentyear                52438 non-null  float64
 54  landtaxvaluedollarcnt         52437 non-null  float64
 55  taxamount                     52434 non-null  float64
 56  taxdelinquencyflag            2079 non-null   object
 57  taxdelinquencyyear            2079 non-null   float64
 58  censustractandblock           52315 non-null  float64
 59  logerror                      52438 non-null  float64
 60  transactiondate               52438 non-null  object
 61  airconditioningdesc           13638 non-null  object
 62  architecturalstyledesc        70 non-null     object
 63  buildingclassdesc             0 non-null      float64
 64  heatingorsystemdesc           33934 non-null  object
 65  propertylandusedesc           52438 non-null  object
 66  storydesc                     47 non-null     object
 67  typeconstructiondesc          76 non-null     object
dtypes: float64(56), int64(2), object(10)
memory usage: 27.6+ MB

In [7]:
# rename parcelid as parcel_id and set as index

df = prepare.new_index(df)
df.head()

,typeconstructiontypeid,storytypeid,propertylandusetypeid,heatingorsystemtypeid,buildingclasstypeid,architecturalstyletypeid,airconditioningtypeid,id,basementsqft,bathroomcnt,...,censustractandblock,logerror,transactiondate,airconditioningdesc,architecturalstyledesc,buildingclassdesc,heatingorsystemdesc,propertylandusedesc,storydesc,typeconstructiondesc
parcel_id,,,,,,,,,,,,,,,,,,,,,
14297519,NaN,NaN,261.0,NaN,NaN,NaN,NaN,1727539,NaN,3.5,...,6.059063e+13,0.025595,2017-01-01,NaN,NaN,NaN,NaN,Single Family Residential,NaN,NaN
17052889,NaN,NaN,261.0,NaN,NaN,NaN,NaN,1387261,NaN,1.0,...,6.111001e+13,0.055619,2017-01-01,NaN,NaN,NaN,NaN,Single Family Residential,NaN,NaN
14186244,NaN,NaN,261.0,NaN,NaN,NaN,NaN,11677,NaN,2.0,...,6.059022e+13,0.005383,2017-01-01,NaN,NaN,NaN,NaN,Single Family Residential,NaN,NaN
12177905,NaN,NaN,261.0,2.0,NaN,NaN,NaN,2288172,NaN,3.0,...,6.037300e+13,-0.103410,2017-01-01,NaN,NaN,NaN,Central,Single Family Residential,NaN,NaN
12095076,NaN,NaN,261.0,2.0,NaN,NaN,1.0,781532,NaN,3.0,...,6.037461e+13,-0.001011,2017-01-01,Central,NaN,NaN,Central,Single Family Residential,NaN,NaN

In [8]:
# uses my nulls_by_col function and drops all columns with 50% or more null values
# uses my nulls_by_row function and drops all rows with 75% or more null values
df = prepare.handle_missing_values(df)

In [9]:
# creates dummy columns for each county
df = prepare.get_counties(df)

In [10]:
# creates my desired new feature columns
df = prepare.create_features(df)

In [11]:
# now what do we have?
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 52359 entries, 14297519 to 12826780
Data columns (total 39 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   propertylandusetypeid         52359 non-null  float64
 1   heatingorsystemtypeid         33934 non-null  float64
 2   id                            52359 non-null  int64
 3   bathroomcnt                   52359 non-null  float64
 4   bedroomcnt                    52359 non-null  float64
 5   buildingqualitytypeid         33738 non-null  float64
 6   calculatedbathnbr             52297 non-null  float64
 7   calculatedfinishedsquarefeet  52351 non-null  float64
 8   finishedsquarefeet12          52187 non-null  float64
 9   fips                          52359 non-null  float64
 10  fullbathcnt                   52297 non-null  float64
 11  latitude                      52359 non-null  float64
 12  longitude                     52359 non-null  float64
 13  lotsizesquarefeet             51999 non-null  float64
 14  propertycountylandusecode     52359 non-null  object
 15  propertyzoningdesc            33830 non-null  object
 16  rawcensustractandblock        52359 non-null  float64
 17  regionidcity                  51333 non-null  float64
 18  regionidzip                   52340 non-null  float64
 19  roomcnt                       52359 non-null  float64
 20  unitcnt                       33846 non-null  float64
 21  yearbuilt                     52317 non-null  float64
 22  structuretaxvaluedollarcnt    52285 non-null  float64
 23  taxvaluedollarcnt             52358 non-null  float64
 24  assessmentyear                52359 non-null  float64
 25  landtaxvaluedollarcnt         52358 non-null  float64
 26  taxamount                     52355 non-null  float64
 27  censustractandblock           52249 non-null  float64
 28  logerror                      52359 non-null  float64
 29  transactiondate               52359 non-null  object
 30  heatingorsystemdesc           33934 non-null  object
 31  propertylandusedesc           52359 non-null  object
 32  LA                            52359 non-null  uint8
 33  Orange                        52359 non-null  uint8
 34  Ventura                       52359 non-null  uint8
 35  age                           52317 non-null  float64
 36  taxrate                       52354 non-null  float64
 37  acres                         51999 non-null  float64
 38  bath_bed_ratio                52328 non-null  float64
dtypes: float64(30), int64(1), object(5), uint8(3)
memory usage: 14.9+ MB

In [13]:
# columns to explore possibility of either dropping or imputing...
col_explore = ['heatingorsystemtypeid', 'buildingqualitytypeid', 'propertyzoningdesc', 'unitcnt', 'heatingorsystemdesc']
for col in col_explore:
    print(col)
    print(df[col].value_counts())
    print('')

heatingorsystemtypeid
2.0     20736
7.0     12564
6.0       517
20.0       85
13.0       16
1.0         7
18.0        6
10.0        2
24.0        1
Name: heatingorsystemtypeid, dtype: int64

buildingqualitytypeid
6.0     10289
8.0      8244
4.0      8154
7.0      3427
5.0      1513
9.0      1121
11.0      514
10.0      230
3.0       152
12.0       81
1.0         8
2.0         5
Name: buildingqualitytypeid, dtype: int64

propertyzoningdesc
LAR1          6495
LARS          1385
LBR1N         1111
SCUR2          712
LARE11         612
              ...
LR7OOO*          1
LARU             1
LRCR*            1
AHRPD51U-R       1
COML             1
Name: propertyzoningdesc, Length: 1286, dtype: int64

unitcnt
1.0    33816
2.0       29
3.0        1
Name: unitcnt, dtype: int64

heatingorsystemdesc
Central       20736
Floor/Wall    12564
Forced air      517
Solar            85
None             16
Baseboard         7
Radiant           6
Gravity           2
Yes               1
Name: heatingorsystemdesc, dtype: int64