# Zillow Clustering Project Scratchpad

In [1]:
import pandas as pd
import numpy as np
import acquire
import prepare
import warnings
warnings.filterwarnings('ignore')

### Data Acquisition

In [2]:
# bring in the data
df = acquire.get_zillow_cluster()

#### Data Aquistion Key Findings & Takeaways:

- This dataframe has 77574 rows and 68 columns.
- Target variable: 'logerror'
- There are 11 columns that are dtype "object" that either need to be dropped, or converted to int
- There are numerous columns with mostly missing values that either need to be dropped, or imputed
- There are numerous columns that at first glance appear to be duplicates, or similar enough to either be dropped, or joined

### Data Preparation

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 77574 entries, 0 to 77573
Data columns (total 68 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   heatingorsystemtypeid         49569 non-null  float64
 1   buildingclasstypeid           15 non-null     float64
 2   architecturalstyletypeid      206 non-null    float64
 3   airconditioningtypeid         25006 non-null  float64
 4   parcelid                      77574 non-null  int64
 5   typeconstructiontypeid        222 non-null    float64
 6   storytypeid                   50 non-null     float64
 7   propertylandusetypeid         77574 non-null  float64
 8   id                            77574 non-null  int64
 9   basementsqft                  50 non-null     float64
 10  bathroomcnt                   77574 non-null  float64
 11  bedroomcnt                    77574 non-null  float64
 12  buildingqualitytypeid         49808 non-null  float64
 13  calculatedbathnbr             76959 non-null  float64
 14  decktypeid                    614 non-null    float64
 15  finishedfloor1squarefeet      6035 non-null   float64
 16  calculatedfinishedsquarefeet  77374 non-null  float64
 17  finishedsquarefeet12          73919 non-null  float64
 18  finishedsquarefeet13          42 non-null     float64
 19  finishedsquarefeet15          3027 non-null   float64
 20  finishedsquarefeet50          6035 non-null   float64
 21  finishedsquarefeet6           386 non-null    float64
 22  fips                          77574 non-null  float64
 23  fireplacecnt                  8287 non-null   float64
 24  fullbathcnt                   76959 non-null  float64
 25  garagecarcnt                  25517 non-null  float64
 26  garagetotalsqft               25517 non-null  float64
 27  hashottuborspa                1539 non-null   float64
 28  latitude                      77574 non-null  float64
 29  longitude                     77574 non-null  float64
 30  lotsizesquarefeet             69317 non-null  float64
 31  poolcnt                       16173 non-null  float64
 32  poolsizesum                   869 non-null    float64
 33  pooltypeid10                  465 non-null    float64
 34  pooltypeid2                   1074 non-null   float64
 35  pooltypeid7                   15078 non-null  float64
 36  propertycountylandusecode     77574 non-null  object
 37  propertyzoningdesc            50474 non-null  object
 38  rawcensustractandblock        77574 non-null  float64
 39  regionidcity                  76102 non-null  float64
 40  regionidcounty                77574 non-null  float64
 41  regionidneighborhood          30973 non-null  float64
 42  regionidzip                   77524 non-null  float64
 43  roomcnt                       77574 non-null  float64
 44  threequarterbathnbr           10105 non-null  float64
 45  unitcnt                       50702 non-null  float64
 46  yardbuildingsqft17            2393 non-null   float64
 47  yardbuildingsqft26            70 non-null     float64
 48  yearbuilt                     77305 non-null  float64
 49  numberofstories               17596 non-null  float64
 50  fireplaceflag                 172 non-null    float64
 51  structuretaxvaluedollarcnt    77459 non-null  float64
 52  taxvaluedollarcnt             77573 non-null  float64
 53  assessmentyear                77574 non-null  float64
 54  landtaxvaluedollarcnt         77572 non-null  float64
 55  taxamount                     77569 non-null  float64
 56  taxdelinquencyflag            2900 non-null   object
 57  taxdelinquencyyear            2900 non-null   float64
 58  censustractandblock           77327 non-null  float64
 59  logerror                      77574 non-null  float64
 60  transactiondate               77574 non-null  object
 61  propertylandusedesc           77574 non-null  object
 62  storydesc                     50 non-null     object
 63  typeconstructiondesc          222 non-null    object
 64  airconditioningdesc           25006 non-null  object
 65  architecturalstyledesc        206 non-null    object
 66  buildingclassdesc             15 non-null     object
 67  heatingorsystemdesc           49569 non-null  object
dtypes: float64(55), int64(2), object(11)
memory usage: 40.8+ MB

In [4]:
df, \
train, \
validate, \
test, \
X_train, \
y_train, \
X_validate, \
y_validate, \
X_test, \
y_test = prepare.prep_zillow_cluster(df)

In [5]:
prepare.summarize(df)

----------------------------------------------------
DataFrame Head
   parcelid  propertylandusetypeid       id  bathroomcnt  bedroomcnt  \
0  14297519                  261.0  1727539          3.5         4.0
1  17052889                  261.0  1387261          1.0         2.0
2  14186244                  261.0    11677          2.0         3.0

   calculatedbathnbr  calculatedfinishedsquarefeet  finishedsquarefeet12  \
0                3.5                        3100.0                3100.0
1                1.0                        1465.0                1465.0
2                2.0                        1243.0                1243.0

     fips  fullbathcnt  ...  assessmentyear  landtaxvaluedollarcnt  taxamount  \
0  6059.0          3.0  ...          2016.0               537569.0   11013.72
1  6111.0          1.0  ...          2016.0               376000.0    5672.48
2  6059.0          2.0  ...          2016.0               479489.0    6488.30

  censustractandblock  logerror  transactiondate        propertylandusedesc  \
0        6.059063e+13  0.025595       2017-01-01  Single Family Residential
1        6.111001e+13  0.055619       2017-01-01  Single Family Residential
2        6.059022e+13  0.005383       2017-01-01  Single Family Residential

   LA  Orange  Ventura
0   0       1        0
1   0       0        1
2   0       1        0

[3 rows x 31 columns]
----------------------------------------------------
DataFrame Info
<class 'pandas.core.frame.DataFrame'>
Int64Index: 48231 entries, 0 to 77573
Data columns (total 31 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   parcelid                      48231 non-null  int64
 1   propertylandusetypeid         48231 non-null  float64
 2   id                            48231 non-null  int64
 3   bathroomcnt                   48231 non-null  float64
 4   bedroomcnt                    48231 non-null  float64
 5   calculatedbathnbr             48217 non-null  float64
 6   calculatedfinishedsquarefeet  48231 non-null  float64
 7   finishedsquarefeet12          48103 non-null  float64
 8   fips                          48231 non-null  float64
 9   fullbathcnt                   48217 non-null  float64
 10  latitude                      48231 non-null  float64
 11  longitude                     48231 non-null  float64
 12  lotsizesquarefeet             47980 non-null  float64
 13  propertycountylandusecode     48231 non-null  object
 14  rawcensustractandblock        48231 non-null  float64
 15  regionidcity                  47332 non-null  float64
 16  regionidzip                   48217 non-null  float64
 17  roomcnt                       48231 non-null  float64
 18  yearbuilt                     48210 non-null  float64
 19  structuretaxvaluedollarcnt    48170 non-null  float64
 20  taxvaluedollarcnt             48230 non-null  float64
 21  assessmentyear                48231 non-null  float64
 22  landtaxvaluedollarcnt         48230 non-null  float64
 23  taxamount                     48227 non-null  float64
 24  censustractandblock           48152 non-null  float64
 25  logerror                      48231 non-null  float64
 26  transactiondate               48231 non-null  object
 27  propertylandusedesc           48231 non-null  object
 28  LA                            48231 non-null  uint8
 29  Orange                        48231 non-null  uint8
 30  Ventura                       48231 non-null  uint8
dtypes: float64(23), int64(2), object(3), uint8(3)
memory usage: 10.8+ MB
None
----------------------------------------------------
DataFrame Description
           parcelid  propertylandusetypeid            id   bathroomcnt  \
count  4.823100e+04                48231.0  4.823100e+04  48231.000000
mean   1.296900e+07                  261.0  1.496458e+06      2.154040
std    2.987183e+06                    0.0  8.591340e+05      0.759845
min    1.071186e+07                  261.0  3.550000e+02      1.000000
25%    1.149589e+07                  261.0  7.581930e+05      2.000000
50%    1.257343e+07                  261.0  1.498526e+06      2.000000
75%    1.410682e+07                  261.0  2.241720e+06      3.000000
max    1.676380e+08                  261.0  2.982193e+06      4.000000

         bedroomcnt  calculatedbathnbr  calculatedfinishedsquarefeet  \
count  48231.000000       48217.000000                  48231.000000
mean       3.232630           2.154064                   1762.253385
std        0.796476           0.759908                    664.765894
min        2.000000           1.000000                    152.000000
25%        3.000000           2.000000                   1256.000000
50%        3.000000           2.000000                   1613.000000
75%        4.000000           3.000000                   2151.000000
max        5.000000           4.000000                   3862.000000

       finishedsquarefeet12          fips   fullbathcnt  ...  \
count          48103.000000  48231.000000  48217.000000  ...
mean            1763.653119   6048.964007      2.096667  ...
std              664.390286     20.959256      0.750953  ...
min              152.000000   6037.000000      1.000000  ...
25%             1258.000000   6037.000000      2.000000  ...
50%             1614.000000   6037.000000      2.000000  ...
75%             2152.000000   6059.000000      3.000000  ...
max             3862.000000   6111.000000      4.000000  ...

       structuretaxvaluedollarcnt  taxvaluedollarcnt  assessmentyear  \
count                4.817000e+04       4.823000e+04         48231.0
mean                 1.600495e+05       4.424646e+05          2016.0
std                  1.328208e+05       4.210025e+05             0.0
min                  3.020000e+02       1.000000e+03          2016.0
25%                  7.512425e+04       1.849248e+05          2016.0
50%                  1.255335e+05       3.553360e+05          2016.0
75%                  2.045680e+05       5.670000e+05          2016.0
max                  3.221286e+06       1.100000e+07          2016.0

       landtaxvaluedollarcnt      taxamount  censustractandblock  \
count           4.823000e+04   48227.000000         4.815200e+04
mean            2.826141e+05    5444.373577         6.050150e+13
std             3.348492e+05    4858.856765         1.936756e+12
min             1.610000e+02      49.180000         6.037101e+13
25%             6.916200e+04    2565.665000         6.037402e+13
50%             2.057630e+05    4449.440000         6.037603e+13
75%             3.807300e+05    6785.870000         6.059042e+13
max             1.054104e+07  129365.370000         4.830301e+14

           logerror            LA        Orange       Ventura
count  48231.000000  48231.000000  48231.000000  48231.000000
mean       0.016361      0.652257      0.264788      0.082955
std        0.168411      0.476259      0.441225      0.275817
min       -4.655420      0.000000      0.000000      0.000000
25%       -0.025019      0.000000      0.000000      0.000000
50%        0.005965      1.000000      0.000000      0.000000
75%        0.037966      1.000000      1.000000      0.000000
max        3.394544      1.000000      1.000000      1.000000

[8 rows x 28 columns]
----------------------------------------------------
DataFrame Value Counts:
(10554928.851, 26404469.8]    48218
(26404469.8, 42097084.6]          0
(42097084.6, 57789699.4]          0
(57789699.4, 73482314.2]          0
(73482314.2, 89174929.0]          1
(89174929.0, 104867543.8]         0
(104867543.8, 120560158.6]        0
(120560158.6, 136252773.4]        0
(136252773.4, 151945388.2]        0
(151945388.2, 167638003.0]       12
Name: parcelid, dtype: int64
(260.738, 260.791]        0
(260.791, 260.843]        0
(260.843, 260.896]        0
(260.896, 260.948]        0
(260.948, 261.0]      48231
(261.0, 261.052]          0
(261.052, 261.104]        0
(261.104, 261.157]        0
(261.157, 261.209]        0
(261.209, 261.261]        0
Name: propertylandusetypeid, dtype: int64
(-2626.8390000000004, 298538.8]    4753
(298538.8, 596722.6]               4750
(596722.6, 894906.4]               4722
(894906.4, 1193090.2]              4851
(1193090.2, 1491274.0]             4918
(1491274.0, 1789457.8]             4941
(1789457.8, 2087641.6]             4816
(2087641.6, 2385825.4]             4774
(2385825.4, 2684009.2]             4832
(2684009.2, 2982193.0]             4874
Name: id, dtype: int64
(0.996, 1.3]     8978
(1.3, 1.6]        837
(1.6, 1.9]          0
(1.9, 2.2]      21708
(2.2, 2.5]       3908
(2.5, 2.8]          0
(2.8, 3.1]      10349
(3.1, 3.4]          0
(3.4, 3.7]        758
(3.7, 4.0]       1693
Name: bathroomcnt, dtype: int64
(1.9960000000000002, 2.3]     8302
(2.3, 2.6]                       0
(2.6, 2.9]                       0
(2.9, 3.2]                   23098
(3.2, 3.5]                       0
(3.5, 3.8]                       0
(3.8, 4.1]                   14140
(4.1, 4.4]                       0
(4.4, 4.7]                       0
(4.7, 5.0]                    2691
Name: bedroomcnt, dtype: int64
(0.996, 1.3]     8978
(1.3, 1.6]        831
(1.6, 1.9]          0
(1.9, 2.2]      21708
(2.2, 2.5]       3900
(2.5, 2.8]          0
(2.8, 3.1]      10349
(3.1, 3.4]          0
(3.4, 3.7]        758
(3.7, 4.0]       1693
Name: calculatedbathnbr, dtype: int64
(148.289, 523.0]       19
(523.0, 894.0]       2141
(894.0, 1265.0]     10232
(1265.0, 1636.0]    12413
(1636.0, 2007.0]     8774
(2007.0, 2378.0]     5824
(2378.0, 2749.0]     4002
(2749.0, 3120.0]     2539
(3120.0, 3491.0]     1550
(3491.0, 3862.0]      737
Name: calculatedfinishedsquarefeet, dtype: int64
(148.289, 523.0]       17
(523.0, 894.0]       2110
(894.0, 1265.0]     10176
(1265.0, 1636.0]    12397
(1636.0, 2007.0]     8765
(2007.0, 2378.0]     5819
(2378.0, 2749.0]     3998
(2749.0, 3120.0]     2536
(3120.0, 3491.0]     1550
(3491.0, 3862.0]      735
Name: finishedsquarefeet12, dtype: int64
(6036.925, 6044.4]    31459
(6044.4, 6051.8]          0
(6051.8, 6059.2]      12771
(6059.2, 6066.6]          0
(6066.6, 6074.0]          0
(6074.0, 6081.4]          0
(6081.4, 6088.8]          0
(6088.8, 6096.2]          0
(6096.2, 6103.6]          0
(6103.6, 6111.0]       4001
Name: fips, dtype: int64
(0.996, 1.3]     9809
(1.3, 1.6]          0
(1.6, 1.9]          0
(1.9, 2.2]      25619
(2.2, 2.5]          0
(2.5, 2.8]          0
(2.8, 3.1]      11108
(3.1, 3.4]          0
(3.4, 3.7]          0
(3.7, 4.0]       1681
Name: fullbathcnt, dtype: int64
(33339141.852, 33488434.7]      662
(33488434.7, 33636249.4]       2618
(33636249.4, 33784064.1]       5617
(33784064.1, 33931878.8]      10444
(33931878.8, 34079693.5]       8309
(34079693.5, 34227508.2]      11250
(34227508.2, 34375322.9]       4310
(34375322.9, 34523137.6]       1701
(34523137.6, 34670952.3]       2108
(34670952.3, 34818767.0]       1212
Name: latitude, dtype: int64
(-119477336.781, -119283338.0]      152
(-119283338.0, -119091260.0]       1257
(-119091260.0, -118899182.0]        944
(-118899182.0, -118707104.0]       1555
(-118707104.0, -118515026.0]       3485
(-118515026.0, -118322948.0]       8333
(-118322948.0, -118130870.0]       9427
(-118130870.0, -117938792.0]      10795
(-117938792.0, -117746714.0]       8337
(-117746714.0, -117554636.0]       3946
Name: longitude, dtype: int64
(-6734.775000000001, 697313.4]    47966
(697313.4, 1394390.8]                 4
(1394390.8, 2091468.2]                2
(2091468.2, 2788545.6]                0
(2788545.6, 3485623.0]                1
(3485623.0, 4182700.4]                0
(4182700.4, 4879777.8]                0
(4879777.8, 5576855.2]                0
(5576855.2, 6273932.6]                0
(6273932.6, 6971010.0]                7
Name: lotsizesquarefeet, dtype: int64
0100    25535
122     12053
0101     5388
1111     3159
1110      841
1         718
0104      331
0103       57
010M       52
0108       47
010G       35
0109        5
0141        4
0102        3
0110        1
0131        1
1112        1
Name: propertycountylandusecode, dtype: int64
(60370272.019999996, 60444919.091]    31459
(60444919.091, 60518827.081]              0
(60518827.081, 60592735.071]          12771
(60592735.071, 60666643.061]              0
(60666643.061, 60740551.051]              0
(60740551.051, 60814459.041]              0
(60814459.041, 60888367.031]              0
(60888367.031, 60962275.021]              0
(60962275.021, 61036183.011]              0
(61036183.011, 61110091.001]           4001
Name: rawcensustractandblock, dtype: int64
(3097.9339999999997, 42797.5]    36086
(42797.5, 82104.0]                9680
(82104.0, 121410.5]                807
(121410.5, 160717.0]                 0
(160717.0, 200023.5]                 0
(200023.5, 239330.0]                 0
(239330.0, 278636.5]                16
(278636.5, 317943.0]                 0
(317943.0, 357249.5]                 0
(357249.5, 396556.0]               743
Name: regionidcity, dtype: int64
(95678.306, 126351.3]    48208
(126351.3, 156720.6]         0
(156720.6, 187089.9]         0
(187089.9, 217459.2]         0
(217459.2, 247828.5]         0
(247828.5, 278197.8]         0
(278197.8, 308567.1]         0
(308567.1, 338936.4]         0
(338936.4, 369305.7]         0
(369305.7, 399675.0]         9
Name: regionidzip, dtype: int64
(-0.013999999999999999, 1.3]    34517
(1.3, 2.6]                          7
(2.6, 3.9]                         10
(3.9, 5.2]                       2314
(5.2, 6.5]                       3915
(6.5, 7.8]                       3542
(7.8, 9.1]                       3741
(9.1, 10.4]                       160
(10.4, 11.7]                       22
(11.7, 13.0]                        3
Name: roomcnt, dtype: int64
(1877.861, 1891.8]       21
(1891.8, 1905.6]        152
(1905.6, 1919.4]        931
(1919.4, 1933.2]       3644
(1933.2, 1947.0]       4623
(1947.0, 1960.8]      15449
(1960.8, 1974.6]       9844
(1974.6, 1988.4]       6545
(1988.4, 2002.2]       4823
(2002.2, 2016.0]       2178
Name: yearbuilt, dtype: int64
(-2918.985, 322400.4]     43643
(322400.4, 644498.8]       4115
(644498.8, 966597.2]        288
(966597.2, 1288695.6]        85
(1288695.6, 1610794.0]       23
(1610794.0, 1932892.4]       10
(1932892.4, 2254990.8]        2
(2254990.8, 2577089.2]        3
(2577089.2, 2899187.6]        0
(2899187.6, 3221286.0]        1
Name: structuretaxvaluedollarcnt, dtype: int64
(-9999.001, 1100900.0]     45739
(1100900.0, 2200800.0]      2127
(2200800.0, 3300700.0]       267
(3300700.0, 4400600.0]        61
(4400600.0, 5500500.0]        17
(5500500.0, 6600400.0]        10
(6600400.0, 7700300.0]         3
(7700300.0, 8800200.0]         1
(8800200.0, 9900100.0]         2
(9900100.0, 11000000.0]        3
Name: taxvaluedollarcnt, dtype: int64
(2013.983, 2014.387]        0
(2014.387, 2014.79]         0
(2014.79, 2015.194]         0
(2015.194, 2015.597]        0
(2015.597, 2016.0]      48231
(2016.0, 2016.403]          0
(2016.403, 2016.806]        0
(2016.806, 2017.21]         0
(2017.21, 2017.613]         0
(2017.613, 2018.016]        0
Name: assessmentyear, dtype: int64
(-10379.877, 1054248.6]    46952
(1054248.6, 2108336.2]      1108
(2108336.2, 3162423.8]       121
(3162423.8, 4216511.4]        27
(4216511.4, 5270599.0]        12
(5270599.0, 6324686.6]         1
(6324686.6, 7378774.2]         4
(7378774.2, 8432861.8]         0
(8432861.8, 9486949.4]         1
(9486949.4, 10541037.0]        4
Name: landtaxvaluedollarcnt, dtype: int64
(-80.137, 12980.799]        45608
(12980.799, 25912.418]       2251
(25912.418, 38844.037]        279
(38844.037, 51775.656]         54
(51775.656, 64707.275]         18
(64707.275, 77638.894]         10
(77638.894, 90570.513]          1
(90570.513, 103502.132]         2
(103502.132, 116433.751]        1
(116433.751, 129365.37]         3
Name: taxamount, dtype: int64
(59948352007016.984, 102636920499301.5]    48151
(102636920499301.5, 144902829897603.0]         0
(144902829897603.0, 187168739295904.5]         0
(187168739295904.5, 229434648694206.03]        0
(229434648694206.03, 271700558092507.5]        0
(271700558092507.5, 313966467490809.0]         0
(313966467490809.0, 356232376889110.5]         0
(356232376889110.5, 398498286287411.94]        0
(398498286287411.94, 440764195685713.5]        0
(440764195685713.5, 483030105084015.0]         1
Name: censustractandblock, dtype: int64
(-4.664000000000001, -3.85]        2
(-3.85, -3.045]                    0
(-3.045, -2.24]                   12
(-2.24, -1.435]                   13
(-1.435, -0.63]                  102
(-0.63, 0.175]                 45592
(0.175, 0.98]                   2337
(0.98, 1.785]                     94
(1.785, 2.59]                     72
(2.59, 3.395]                      7
Name: logerror, dtype: int64
2017-06-30    738
2017-04-28    567
2017-05-31    526
2017-07-28    511
2017-08-31    485
             ...
2017-07-08      1
2017-05-07      1
2017-08-13      1
2017-04-08      1
2017-08-12      1
Name: transactiondate, Length: 255, dtype: int64
Single Family Residential    48231
Name: propertylandusedesc, dtype: int64
(-0.002, 0.1]    16772
(0.1, 0.2]           0
(0.2, 0.3]           0
(0.3, 0.4]           0
(0.4, 0.5]           0
(0.5, 0.6]           0
(0.6, 0.7]           0
(0.7, 0.8]           0
(0.8, 0.9]           0
(0.9, 1.0]       31459
Name: LA, dtype: int64
(-0.002, 0.1]    35460
(0.1, 0.2]           0
(0.2, 0.3]           0
(0.3, 0.4]           0
(0.4, 0.5]           0
(0.5, 0.6]           0
(0.6, 0.7]           0
(0.7, 0.8]           0
(0.8, 0.9]           0
(0.9, 1.0]       12771
Name: Orange, dtype: int64
(-0.002, 0.1]    44230
(0.1, 0.2]           0
(0.2, 0.3]           0
(0.3, 0.4]           0
(0.4, 0.5]           0
(0.5, 0.6]           0
(0.6, 0.7]           0
(0.7, 0.8]           0
(0.8, 0.9]           0
(0.9, 1.0]        4001
Name: Ventura, dtype: int64
----------------------------------------------------
Nulls in DataFrae by Column:
                              num_rows_missing  percent_rows_missing
parcelid                                     0              0.000000
propertylandusetypeid                        0              0.000000
id                                           0              0.000000
bathroomcnt                                  0              0.000000
bedroomcnt                                   0              0.000000
calculatedbathnbr                           14              0.029027
calculatedfinishedsquarefeet                 0              0.000000
finishedsquarefeet12                       128              0.265389
fips                                         0              0.000000
fullbathcnt                                 14              0.029027
latitude                                     0              0.000000
longitude                                    0              0.000000
lotsizesquarefeet                          251              0.520412
propertycountylandusecode                    0              0.000000
rawcensustractandblock                       0              0.000000
regionidcity                               899              1.863946
regionidzip                                 14              0.029027
roomcnt                                      0              0.000000
yearbuilt                                   21              0.043540
structuretaxvaluedollarcnt                  61              0.126475
taxvaluedollarcnt                            1              0.002073
assessmentyear                               0              0.000000
landtaxvaluedollarcnt                        1              0.002073
taxamount                                    4              0.008293
censustractandblock                         79              0.163795
logerror                                     0              0.000000
transactiondate                              0              0.000000
propertylandusedesc                          0              0.000000

In [6]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27008 entries, 48064 to 46284
Data columns (total 30 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   parcelid                      27008 non-null  int64
 1   propertylandusetypeid         27008 non-null  float64
 2   id                            27008 non-null  int64
 3   bathroomcnt                   27008 non-null  float64
 4   bedroomcnt                    27008 non-null  float64
 5   calculatedbathnbr             27008 non-null  float64
 6   calculatedfinishedsquarefeet  27008 non-null  float64
 7   finishedsquarefeet12          27008 non-null  float64
 8   fips                          27008 non-null  float64
 9   fullbathcnt                   27008 non-null  float64
 10  latitude                      27008 non-null  float64
 11  longitude                     27008 non-null  float64
 12  lotsizesquarefeet             27008 non-null  float64
 13  propertycountylandusecode     27008 non-null  object
 14  rawcensustractandblock        27008 non-null  float64
 15  regionidcity                  27008 non-null  float64
 16  regionidzip                   27008 non-null  float64
 17  roomcnt                       27008 non-null  float64
 18  yearbuilt                     27008 non-null  float64
 19  structuretaxvaluedollarcnt    27008 non-null  float64
 20  taxvaluedollarcnt             27008 non-null  float64
 21  assessmentyear                27008 non-null  float64
 22  landtaxvaluedollarcnt         27008 non-null  float64
 23  taxamount                     27008 non-null  float64
 24  censustractandblock           27008 non-null  float64
 25  transactiondate               27008 non-null  object
 26  propertylandusedesc           27008 non-null  object
 27  LA                            27008 non-null  uint8
 28  Orange                        27008 non-null  uint8
 29  Ventura                       27008 non-null  uint8
dtypes: float64(22), int64(2), object(3), uint8(3)
memory usage: 5.8+ MB

In [7]:
train.shape

(27008, 31)

In [8]:
X_train.shape

(27008, 30)