# Zillow Clustering Project Scratchpad

In [1]:
import pandas as pd
import numpy as np
import acquire
import prepare
import warnings
warnings.filterwarnings('ignore')

### Data Acquisition

In [2]:
# bring in the data
df = acquire.get_zillow_cluster()

#### Data Aquistion Key Findings & Takeaways:

- This dataframe has 77574 rows and 68 columns.
- Target variable: 'logerror'
- There are 11 columns that are dtype "object" that either need to be dropped, or converted to int
- There are numerous columns with mostly missing values that either need to be dropped, or imputed
- There are numerous columns that at first glance appear to be duplicates, or similar enough to either be dropped, or joined

### Data Preparation

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 77574 entries, 0 to 77573
Data columns (total 68 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   heatingorsystemtypeid         49569 non-null  float64
 1   buildingclasstypeid           15 non-null     float64
 2   architecturalstyletypeid      206 non-null    float64
 3   airconditioningtypeid         25006 non-null  float64
 4   parcelid                      77574 non-null  int64
 5   typeconstructiontypeid        222 non-null    float64
 6   storytypeid                   50 non-null     float64
 7   propertylandusetypeid         77574 non-null  float64
 8   id                            77574 non-null  int64
 9   basementsqft                  50 non-null     float64
 10  bathroomcnt                   77574 non-null  float64
 11  bedroomcnt                    77574 non-null  float64
 12  buildingqualitytypeid         49808 non-null  float64
 13  calculatedbathnbr             76959 non-null  float64
 14  decktypeid                    614 non-null    float64
 15  finishedfloor1squarefeet      6035 non-null   float64
 16  calculatedfinishedsquarefeet  77374 non-null  float64
 17  finishedsquarefeet12          73919 non-null  float64
 18  finishedsquarefeet13          42 non-null     float64
 19  finishedsquarefeet15          3027 non-null   float64
 20  finishedsquarefeet50          6035 non-null   float64
 21  finishedsquarefeet6           386 non-null    float64
 22  fips                          77574 non-null  float64
 23  fireplacecnt                  8287 non-null   float64
 24  fullbathcnt                   76959 non-null  float64
 25  garagecarcnt                  25517 non-null  float64
 26  garagetotalsqft               25517 non-null  float64
 27  hashottuborspa                1539 non-null   float64
 28  latitude                      77574 non-null  float64
 29  longitude                     77574 non-null  float64
 30  lotsizesquarefeet             69317 non-null  float64
 31  poolcnt                       16173 non-null  float64
 32  poolsizesum                   869 non-null    float64
 33  pooltypeid10                  465 non-null    float64
 34  pooltypeid2                   1074 non-null   float64
 35  pooltypeid7                   15078 non-null  float64
 36  propertycountylandusecode     77574 non-null  object
 37  propertyzoningdesc            50474 non-null  object
 38  rawcensustractandblock        77574 non-null  float64
 39  regionidcity                  76102 non-null  float64
 40  regionidcounty                77574 non-null  float64
 41  regionidneighborhood          30973 non-null  float64
 42  regionidzip                   77524 non-null  float64
 43  roomcnt                       77574 non-null  float64
 44  threequarterbathnbr           10105 non-null  float64
 45  unitcnt                       50702 non-null  float64
 46  yardbuildingsqft17            2393 non-null   float64
 47  yardbuildingsqft26            70 non-null     float64
 48  yearbuilt                     77305 non-null  float64
 49  numberofstories               17596 non-null  float64
 50  fireplaceflag                 172 non-null    float64
 51  structuretaxvaluedollarcnt    77459 non-null  float64
 52  taxvaluedollarcnt             77573 non-null  float64
 53  assessmentyear                77574 non-null  float64
 54  landtaxvaluedollarcnt         77572 non-null  float64
 55  taxamount                     77569 non-null  float64
 56  taxdelinquencyflag            2900 non-null   object
 57  taxdelinquencyyear            2900 non-null   float64
 58  censustractandblock           77327 non-null  float64
 59  logerror                      77574 non-null  float64
 60  transactiondate               77574 non-null  object
 61  propertylandusedesc           77574 non-null  object
 62  storydesc                     50 non-null     object
 63  typeconstructiondesc          222 non-null    object
 64  airconditioningdesc           25006 non-null  object
 65  architecturalstyledesc        206 non-null    object
 66  buildingclassdesc             15 non-null     object
 67  heatingorsystemdesc           49569 non-null  object
dtypes: float64(55), int64(2), object(11)
memory usage: 40.8+ MB

In [4]:
df, \
train, \
validate, \
test, \
X_train, \
y_train, \
X_validate, \
y_validate, \
X_test, \
y_test = prepare.prep_zillow_cluster(df)

In [5]:
prepare.summarize(df)

----------------------------------------------------
DataFrame Head
   parcelid  bathroomcnt  bedroomcnt  calculatedbathnbr  \
0  14297519          3.5         4.0                3.5
1  17052889          1.0         2.0                1.0
2  14186244          2.0         3.0                2.0

   calculatedfinishedsquarefeet  finishedsquarefeet12    fips  fullbathcnt  \
0                        3100.0                3100.0  6059.0          3.0
1                        1465.0                1465.0  6111.0          1.0
2                        1243.0                1243.0  6059.0          2.0

     latitude    longitude  ...  logerror transactiondate  \
0  33634931.0 -117869207.0  ...  0.025595      2017-01-01
1  34449266.0 -119281531.0  ...  0.055619      2017-01-01
2  33886168.0 -117823170.0  ...  0.005383      2017-01-01

         propertylandusedesc  LA  Orange  Ventura   age   taxrate     acres  \
0  Single Family Residential   0       1        0  19.0  1.076313  0.103444
1  Single Family Residential   0       0        1  50.0  1.222517  0.290335
2  Single Family Residential   0       1        0  55.0  1.148823  0.193572

   bath_bed_ratio
0        0.875000
1        0.500000
2        0.666667

[3 rows x 33 columns]
----------------------------------------------------
DataFrame Info
<class 'pandas.core.frame.DataFrame'>
Int64Index: 48234 entries, 0 to 77573
Data columns (total 33 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   parcelid                      48234 non-null  int64
 1   bathroomcnt                   48234 non-null  float64
 2   bedroomcnt                    48234 non-null  float64
 3   calculatedbathnbr             48220 non-null  float64
 4   calculatedfinishedsquarefeet  48234 non-null  float64
 5   finishedsquarefeet12          48106 non-null  float64
 6   fips                          48234 non-null  float64
 7   fullbathcnt                   48220 non-null  float64
 8   latitude                      48234 non-null  float64
 9   longitude                     48234 non-null  float64
 10  lotsizesquarefeet             47983 non-null  float64
 11  propertycountylandusecode     48234 non-null  object
 12  rawcensustractandblock        48234 non-null  float64
 13  regionidcity                  47332 non-null  float64
 14  regionidzip                   48217 non-null  float64
 15  roomcnt                       48234 non-null  float64
 16  yearbuilt                     48210 non-null  float64
 17  structuretaxvaluedollarcnt    48173 non-null  float64
 18  taxvaluedollarcnt             48233 non-null  float64
 19  assessmentyear                48234 non-null  float64
 20  landtaxvaluedollarcnt         48233 non-null  float64
 21  taxamount                     48230 non-null  float64
 22  censustractandblock           48152 non-null  float64
 23  logerror                      48234 non-null  float64
 24  transactiondate               48234 non-null  object
 25  propertylandusedesc           48234 non-null  object
 26  LA                            48234 non-null  uint8
 27  Orange                        48234 non-null  uint8
 28  Ventura                       48234 non-null  uint8
 29  age                           48210 non-null  float64
 30  taxrate                       48229 non-null  float64
 31  acres                         47983 non-null  float64
 32  bath_bed_ratio                48234 non-null  float64
dtypes: float64(26), int64(1), object(3), uint8(3)
memory usage: 11.5+ MB
None
----------------------------------------------------
DataFrame Description
           parcelid   bathroomcnt    bedroomcnt  calculatedbathnbr  \
count  4.823400e+04  48234.000000  48234.000000       48220.000000
mean   1.296925e+07      2.154124      3.232678           2.154148
std    2.987269e+06      0.759896      0.796475           0.759958
min    1.071186e+07      1.000000      2.000000           1.000000
25%    1.149597e+07      2.000000      3.000000           2.000000
50%    1.257350e+07      2.000000      3.000000           2.000000
75%    1.410689e+07      3.000000      4.000000           3.000000
max    1.676380e+08      4.000000      5.000000           4.000000

       calculatedfinishedsquarefeet  finishedsquarefeet12          fips  \
count                  48234.000000          48106.000000  48234.000000
mean                    1762.356450           1763.756371   6048.967865
std                      664.876079            664.500632     20.964314
min                      152.000000            152.000000   6037.000000
25%                     1256.000000           1258.000000   6037.000000
50%                     1613.000000           1614.000000   6037.000000
75%                     2152.000000           2152.000000   6059.000000
max                     3862.000000           3862.000000   6111.000000

        fullbathcnt      latitude     longitude  ...      taxamount  \
count  48220.000000  4.823400e+04  4.823400e+04  ...   48230.000000
mean       2.096723  3.402671e+07 -1.181937e+08  ...    5444.350327
std        0.750963  2.738916e+05  3.541796e+05  ...    4858.711162
min        1.000000  3.334062e+07 -1.194754e+08  ...      49.180000
25%        2.000000  3.383113e+07 -1.183941e+08  ...    2565.747500
50%        2.000000  3.402098e+07 -1.181489e+08  ...    4449.500000
75%        3.000000  3.419090e+07 -1.179343e+08  ...    6785.665000
max        4.000000  3.481877e+07 -1.175546e+08  ...  129365.370000

       censustractandblock      logerror            LA        Orange  \
count         4.815200e+04  48234.000000  48234.000000  48234.000000
mean          6.050150e+13      0.016361      0.652216      0.264772
std           1.936756e+12      0.168408      0.476272      0.441216
min           6.037101e+13     -4.655420      0.000000      0.000000
25%           6.037402e+13     -0.025020      0.000000      0.000000
50%           6.037603e+13      0.005964      1.000000      0.000000
75%           6.059042e+13      0.037969      1.000000      1.000000
max           4.830301e+14      3.394544      1.000000      1.000000

            Ventura           age       taxrate         acres  bath_bed_ratio
count  48234.000000  48210.000000  48229.000000  47983.000000    48234.000000
mean       0.083012     54.624725      1.343892      0.235163        0.673219
std        0.275903     22.147233      0.683784      2.017127        0.210147
min        0.000000      1.000000      0.022955      0.005418        0.200000
25%        0.000000     40.000000      1.169594      0.126492        0.500000
50%        0.000000     57.000000      1.236971      0.154844        0.666667
75%        0.000000     67.000000      1.378501      0.192401        0.750000
max        1.000000    139.000000     81.649000    160.032369        2.000000

[8 rows x 30 columns]
----------------------------------------------------
DataFrame Value Counts:
(10554928.851, 26404469.8]    48221
(26404469.8, 42097084.6]          0
(42097084.6, 57789699.4]          0
(57789699.4, 73482314.2]          0
(73482314.2, 89174929.0]          1
(89174929.0, 104867543.8]         0
(104867543.8, 120560158.6]        0
(120560158.6, 136252773.4]        0
(136252773.4, 151945388.2]        0
(151945388.2, 167638003.0]       12
Name: parcelid, dtype: int64
(0.996, 1.3]     8978
(1.3, 1.6]        837
(1.6, 1.9]          0
(1.9, 2.2]      21708
(2.2, 2.5]       3908
(2.5, 2.8]          0
(2.8, 3.1]      10349
(3.1, 3.4]          0
(3.4, 3.7]        761
(3.7, 4.0]       1693
Name: bathroomcnt, dtype: int64
(1.9960000000000002, 2.3]     8302
(2.3, 2.6]                       0
(2.6, 2.9]                       0
(2.9, 3.2]                   23098
(3.2, 3.5]                       0
(3.5, 3.8]                       0
(3.8, 4.1]                   14143
(4.1, 4.4]                       0
(4.4, 4.7]                       0
(4.7, 5.0]                    2691
Name: bedroomcnt, dtype: int64
(0.996, 1.3]     8978
(1.3, 1.6]        831
(1.6, 1.9]          0
(1.9, 2.2]      21708
(2.2, 2.5]       3900
(2.5, 2.8]          0
(2.8, 3.1]      10349
(3.1, 3.4]          0
(3.4, 3.7]        761
(3.7, 4.0]       1693
Name: calculatedbathnbr, dtype: int64
(148.289, 523.0]       19
(523.0, 894.0]       2141
(894.0, 1265.0]     10232
(1265.0, 1636.0]    12413
(1636.0, 2007.0]     8774
(2007.0, 2378.0]     5824
(2378.0, 2749.0]     4002
(2749.0, 3120.0]     2540
(3120.0, 3491.0]     1550
(3491.0, 3862.0]      739
Name: calculatedfinishedsquarefeet, dtype: int64
(148.289, 523.0]       17
(523.0, 894.0]       2110
(894.0, 1265.0]     10176
(1265.0, 1636.0]    12397
(1636.0, 2007.0]     8765
(2007.0, 2378.0]     5819
(2378.0, 2749.0]     3998
(2749.0, 3120.0]     2537
(3120.0, 3491.0]     1550
(3491.0, 3862.0]      737
Name: finishedsquarefeet12, dtype: int64
(6036.925, 6044.4]    31459
(6044.4, 6051.8]          0
(6051.8, 6059.2]      12771
(6059.2, 6066.6]          0
(6066.6, 6074.0]          0
(6074.0, 6081.4]          0
(6081.4, 6088.8]          0
(6088.8, 6096.2]          0
(6096.2, 6103.6]          0
(6103.6, 6111.0]       4004
Name: fips, dtype: int64
(0.996, 1.3]     9809
(1.3, 1.6]          0
(1.6, 1.9]          0
(1.9, 2.2]      25619
(2.2, 2.5]          0
(2.5, 2.8]          0
(2.8, 3.1]      11111
(3.1, 3.4]          0
(3.4, 3.7]          0
(3.7, 4.0]       1681
Name: fullbathcnt, dtype: int64
(33339141.852, 33488434.7]      662
(33488434.7, 33636249.4]       2618
(33636249.4, 33784064.1]       5617
(33784064.1, 33931878.8]      10444
(33931878.8, 34079693.5]       8309
(34079693.5, 34227508.2]      11251
(34227508.2, 34375322.9]       4312
(34375322.9, 34523137.6]       1701
(34523137.6, 34670952.3]       2108
(34670952.3, 34818767.0]       1212
Name: latitude, dtype: int64
(-119477336.781, -119283338.0]      152
(-119283338.0, -119091260.0]       1259
(-119091260.0, -118899182.0]        945
(-118899182.0, -118707104.0]       1555
(-118707104.0, -118515026.0]       3485
(-118515026.0, -118322948.0]       8333
(-118322948.0, -118130870.0]       9427
(-118130870.0, -117938792.0]      10795
(-117938792.0, -117746714.0]       8337
(-117746714.0, -117554636.0]       3946
Name: longitude, dtype: int64
(-6734.775000000001, 697313.4]    47969
(697313.4, 1394390.8]                 4
(1394390.8, 2091468.2]                2
(2091468.2, 2788545.6]                0
(2788545.6, 3485623.0]                1
(3485623.0, 4182700.4]                0
(4182700.4, 4879777.8]                0
(4879777.8, 5576855.2]                0
(5576855.2, 6273932.6]                0
(6273932.6, 6971010.0]                7
Name: lotsizesquarefeet, dtype: int64
0100    25535
122     12053
0101     5388
1111     3160
1110      843
1         718
0104      331
0103       57
010M       52
0108       47
010G       35
0109        5
0141        4
0102        3
0110        1
0131        1
1112        1
Name: propertycountylandusecode, dtype: int64
(60370272.019999996, 60444919.091]    31459
(60444919.091, 60518827.081]              0
(60518827.081, 60592735.071]          12771
(60592735.071, 60666643.061]              0
(60666643.061, 60740551.051]              0
(60740551.051, 60814459.041]              0
(60814459.041, 60888367.031]              0
(60888367.031, 60962275.021]              0
(60962275.021, 61036183.011]              0
(61036183.011, 61110091.001]           4004
Name: rawcensustractandblock, dtype: int64
(3097.9339999999997, 42797.5]    36086
(42797.5, 82104.0]                9680
(82104.0, 121410.5]                807
(121410.5, 160717.0]                 0
(160717.0, 200023.5]                 0
(200023.5, 239330.0]                 0
(239330.0, 278636.5]                16
(278636.5, 317943.0]                 0
(317943.0, 357249.5]                 0
(357249.5, 396556.0]               743
Name: regionidcity, dtype: int64
(95678.306, 126351.3]    48208
(126351.3, 156720.6]         0
(156720.6, 187089.9]         0
(187089.9, 217459.2]         0
(217459.2, 247828.5]         0
(247828.5, 278197.8]         0
(278197.8, 308567.1]         0
(308567.1, 338936.4]         0
(338936.4, 369305.7]         0
(369305.7, 399675.0]         9
Name: regionidzip, dtype: int64
(-0.013999999999999999, 1.3]    34517
(1.3, 2.6]                          7
(2.6, 3.9]                         10
(3.9, 5.2]                       2314
(5.2, 6.5]                       3916
(6.5, 7.8]                       3543
(7.8, 9.1]                       3742
(9.1, 10.4]                       160
(10.4, 11.7]                       22
(11.7, 13.0]                        3
Name: roomcnt, dtype: int64
(1877.861, 1891.8]       21
(1891.8, 1905.6]        152
(1905.6, 1919.4]        931
(1919.4, 1933.2]       3644
(1933.2, 1947.0]       4623
(1947.0, 1960.8]      15449
(1960.8, 1974.6]       9844
(1974.6, 1988.4]       6545
(1988.4, 2002.2]       4823
(2002.2, 2016.0]       2178
Name: yearbuilt, dtype: int64
(-2918.985, 322400.4]     43645
(322400.4, 644498.8]       4116
(644498.8, 966597.2]        288
(966597.2, 1288695.6]        85
(1288695.6, 1610794.0]       23
(1610794.0, 1932892.4]       10
(1932892.4, 2254990.8]        2
(2254990.8, 2577089.2]        3
(2577089.2, 2899187.6]        0
(2899187.6, 3221286.0]        1
Name: structuretaxvaluedollarcnt, dtype: int64
(-9999.001, 1100900.0]     45742
(1100900.0, 2200800.0]      2127
(2200800.0, 3300700.0]       267
(3300700.0, 4400600.0]        61
(4400600.0, 5500500.0]        17
(5500500.0, 6600400.0]        10
(6600400.0, 7700300.0]         3
(7700300.0, 8800200.0]         1
(8800200.0, 9900100.0]         2
(9900100.0, 11000000.0]        3
Name: taxvaluedollarcnt, dtype: int64
(2013.983, 2014.387]        0
(2014.387, 2014.79]         0
(2014.79, 2015.194]         0
(2015.194, 2015.597]        0
(2015.597, 2016.0]      48234
(2016.0, 2016.403]          0
(2016.403, 2016.806]        0
(2016.806, 2017.21]         0
(2017.21, 2017.613]         0
(2017.613, 2018.016]        0
Name: assessmentyear, dtype: int64
(-10379.877, 1054248.6]    46955
(1054248.6, 2108336.2]      1108
(2108336.2, 3162423.8]       121
(3162423.8, 4216511.4]        27
(4216511.4, 5270599.0]        12
(5270599.0, 6324686.6]         1
(6324686.6, 7378774.2]         4
(7378774.2, 8432861.8]         0
(8432861.8, 9486949.4]         1
(9486949.4, 10541037.0]        4
Name: landtaxvaluedollarcnt, dtype: int64
(-80.137, 12980.799]        45611
(12980.799, 25912.418]       2251
(25912.418, 38844.037]        279
(38844.037, 51775.656]         54
(51775.656, 64707.275]         18
(64707.275, 77638.894]         10
(77638.894, 90570.513]          1
(90570.513, 103502.132]         2
(103502.132, 116433.751]        1
(116433.751, 129365.37]         3
Name: taxamount, dtype: int64
(59948352007016.984, 102636920499301.5]    48151
(102636920499301.5, 144902829897603.0]         0
(144902829897603.0, 187168739295904.5]         0
(187168739295904.5, 229434648694206.03]        0
(229434648694206.03, 271700558092507.5]        0
(271700558092507.5, 313966467490809.0]         0
(313966467490809.0, 356232376889110.5]         0
(356232376889110.5, 398498286287411.94]        0
(398498286287411.94, 440764195685713.5]        0
(440764195685713.5, 483030105084015.0]         1
Name: censustractandblock, dtype: int64
(-4.664000000000001, -3.85]        2
(-3.85, -3.045]                    0
(-3.045, -2.24]                   12
(-2.24, -1.435]                   13
(-1.435, -0.63]                  102
(-0.63, 0.175]                 45595
(0.175, 0.98]                   2337
(0.98, 1.785]                     94
(1.785, 2.59]                     72
(2.59, 3.395]                      7
Name: logerror, dtype: int64
2017-06-30    738
2017-04-28    567
2017-05-31    526
2017-07-28    511
2017-08-31    485
             ...
2017-04-08      1
2017-07-08      1
2017-08-12      1
2017-09-02      1
2017-06-11      1
Name: transactiondate, Length: 255, dtype: int64
Single Family Residential    48234
Name: propertylandusedesc, dtype: int64
(-0.002, 0.1]    16775
(0.1, 0.2]           0
(0.2, 0.3]           0
(0.3, 0.4]           0
(0.4, 0.5]           0
(0.5, 0.6]           0
(0.6, 0.7]           0
(0.7, 0.8]           0
(0.8, 0.9]           0
(0.9, 1.0]       31459
Name: LA, dtype: int64
(-0.002, 0.1]    35463
(0.1, 0.2]           0
(0.2, 0.3]           0
(0.3, 0.4]           0
(0.4, 0.5]           0
(0.5, 0.6]           0
(0.6, 0.7]           0
(0.7, 0.8]           0
(0.8, 0.9]           0
(0.9, 1.0]       12771
Name: Orange, dtype: int64
(-0.002, 0.1]    44230
(0.1, 0.2]           0
(0.2, 0.3]           0
(0.3, 0.4]           0
(0.4, 0.5]           0
(0.5, 0.6]           0
(0.6, 0.7]           0
(0.7, 0.8]           0
(0.8, 0.9]           0
(0.9, 1.0]        4004
Name: Ventura, dtype: int64
(0.861, 14.8]      2178
(14.8, 28.6]       4823
(28.6, 42.4]       6545
(42.4, 56.2]       9844
(56.2, 70.0]      16417
(70.0, 83.8]       3655
(83.8, 97.6]       3644
(97.6, 111.4]       931
(111.4, 125.2]      152
(125.2, 139.0]       21
Name: age, dtype: int64
(-0.0597, 8.186]    48195
(8.186, 16.348]        25
(16.348, 24.511]        3
(24.511, 32.673]        2
(32.673, 40.836]        1
(40.836, 48.999]        1
(48.999, 57.161]        1
(57.161, 65.324]        0
(65.324, 73.486]        0
(73.486, 81.649]        1
Name: taxrate, dtype: int64
(-0.156, 16.008]      47969
(16.008, 32.011]          4
(32.011, 48.014]          2
(48.014, 64.016]          0
(64.016, 80.019]          1
(80.019, 96.022]          0
(96.022, 112.024]         0
(112.024, 128.027]        0
(128.027, 144.03]         0
(144.03, 160.032]         7
Name: acres, dtype: int64
(0.197, 0.38]     4024
(0.38, 0.56]     11612
(0.56, 0.74]     16572
(0.74, 0.92]      8440
(0.92, 1.1]       6603
(1.1, 1.28]        375
(1.28, 1.46]       310
(1.46, 1.64]       276
(1.64, 1.82]        14
(1.82, 2.0]          8
Name: bath_bed_ratio, dtype: int64
----------------------------------------------------
Nulls in DataFrae by Column:
                              num_rows_missing  percent_rows_missing
parcelid                                     0              0.000000
bathroomcnt                                  0              0.000000
bedroomcnt                                   0              0.000000
calculatedbathnbr                           14              0.029025
calculatedfinishedsquarefeet                 0              0.000000
finishedsquarefeet12                       128              0.265373
fips                                         0              0.000000
fullbathcnt                                 14              0.029025
latitude                                     0              0.000000
longitude                                    0              0.000000
lotsizesquarefeet                          251              0.520380
propertycountylandusecode                    0              0.000000
rawcensustractandblock                       0              0.000000
regionidcity                               902              1.870050
regionidzip                                 17              0.035245
roomcnt                                      0              0.000000
yearbuilt                                   24              0.049757
structuretaxvaluedollarcnt                  61              0.126467
taxvaluedollarcnt                            1              0.002073
assessmentyear                               0              0.000000
landtaxvaluedollarcnt                        1              0.002073
taxamount                                    4              0.008293
censustractandblock                         82              0.170005
logerror                                     0              0.000000
transactiondate                              0              0.000000
propertylandusedesc                          0              0.000000
LA                                           0              0.000000
Orange                                       0              0.000000
Ventura                                      0              0.000000

In [6]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27010 entries, 27396 to 18368
Data columns (total 32 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   parcelid                      27010 non-null  int64
 1   bathroomcnt                   27010 non-null  float64
 2   bedroomcnt                    27010 non-null  float64
 3   calculatedbathnbr             27010 non-null  float64
 4   calculatedfinishedsquarefeet  27010 non-null  float64
 5   finishedsquarefeet12          27010 non-null  float64
 6   fips                          27010 non-null  float64
 7   fullbathcnt                   27010 non-null  float64
 8   latitude                      27010 non-null  float64
 9   longitude                     27010 non-null  float64
 10  lotsizesquarefeet             27010 non-null  float64
 11  propertycountylandusecode     27010 non-null  object
 12  rawcensustractandblock        27010 non-null  float64
 13  regionidcity                  27010 non-null  float64
 14  regionidzip                   27010 non-null  float64
 15  roomcnt                       27010 non-null  float64
 16  yearbuilt                     27010 non-null  float64
 17  structuretaxvaluedollarcnt    27010 non-null  float64
 18  taxvaluedollarcnt             27010 non-null  float64
 19  assessmentyear                27010 non-null  float64
 20  landtaxvaluedollarcnt         27010 non-null  float64
 21  taxamount                     27010 non-null  float64
 22  censustractandblock           27010 non-null  float64
 23  transactiondate               27010 non-null  object
 24  propertylandusedesc           27010 non-null  object
 25  LA                            27010 non-null  uint8
 26  Orange                        27010 non-null  uint8
 27  Ventura                       27010 non-null  uint8
 28  age                           27010 non-null  float64
 29  taxrate                       27010 non-null  float64
 30  acres                         27010 non-null  float64
 31  bath_bed_ratio                27010 non-null  float64
dtypes: float64(25), int64(1), object(3), uint8(3)
memory usage: 6.3+ MB

In [7]:
train.shape

(27010, 33)

In [8]:
X_train.shape

(27010, 32)

In [9]:
X_train.head().T

,27396,8743,18209,37792,47261
parcelid,11267849,14480949,10841075,10902222,11102982
bathroomcnt,1,3,3,2,2
bedroomcnt,2,3,3,3,3
calculatedbathnbr,1,3,3,2,2
calculatedfinishedsquarefeet,994,3328,1924,1890,1238
finishedsquarefeet12,994,3328,1924,1890,1238
fips,6037,6059,6037,6037,6037
fullbathcnt,1,3,3,2,2
latitude,3.46357e+07,3.36173e+07,3.4189e+07,3.41637e+07,3.44347e+07
longitude,-1.18175e+08,-1.17572e+08,-1.18435e+08,-1.18399e+08,-1.18479e+08
lotsizesquarefeet,112408,6149,8102,7469,5859
propertycountylandusecode,0100,122,0100,0100,0100
rawcensustractandblock,6.03791e+07,6.05903e+07,6.03713e+07,6.03712e+07,6.03792e+07
regionidcity,40227,17597,12447,12447,54311
regionidzip,97329,96989,96410,96452,96374
roomcnt,0,6,0,0,0
yearbuilt,2009,1978,1942,1955,1963
structuretaxvaluedollarcnt,174887,432994,166000,77643,114445
taxvaluedollarcnt,189768,526138,649000,118211,184526
assessmentyear,2016,2016,2016,2016,2016
landtaxvaluedollarcnt,14881,93144,483000,40568,70081
taxamount,2460.69,5290.92,7832.16,1498.75,2738.55
censustractandblock,6.03791e+13,6.05903e+13,6.03713e+13,6.03712e+13,6.03792e+13
transactiondate,2017-04-18,2017-02-09,2017-03-17,2017-05-19,2017-06-16
propertylandusedesc,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential
LA,1,0,1,1,1
Orange,0,1,0,0,0
Ventura,0,0,0,0,0
age,8,39,75,62,54
taxrate,1.29668,1.00561,1.2068,1.26786,1.4841
acres,2.58053,0.141162,0.185996,0.171465,0.134504
bath_bed_ratio,0.5,1,1,0.666667,0.666667

In [10]:
X_train.nunique()

parcelid                        27010
bathroomcnt                         7
bedroomcnt                          4
calculatedbathnbr                   7
calculatedfinishedsquarefeet     3010
finishedsquarefeet12             3006
fips                                3
fullbathcnt                         4
latitude                        26512
longitude                       26572
lotsizesquarefeet                9706
propertycountylandusecode          15
rawcensustractandblock          19810
regionidcity                      172
regionidzip                       375
roomcnt                            12
yearbuilt                         129
structuretaxvaluedollarcnt      20852
taxvaluedollarcnt               21688
assessmentyear                      1
landtaxvaluedollarcnt           20569
taxamount                       26557
censustractandblock             19784
transactiondate                   248
propertylandusedesc                 1
LA                                  2
Orange                              2
Ventura                             2
age                               129
taxrate                         26981
acres                            9706
bath_bed_ratio                     22
dtype: int64